<!-- @format -->
<ng-progress
  [positionUsing]="'marginLeft'"
  [minimum]="0.15"
  [maximum]="1"
  [speed]="200"
  [showSpinner]="false"
  [direction]="'leftToRightIncreased'"
  [color]="'#ffff'"
  [trickleSpeed]="100"
  [thick]="true"
  [ease]="'linear'"
>
</ng-progress>
<mat-card id="sadad" [dir]="layoutDir">
  <mat-card-title>{{ "change_password" | translate }} </mat-card-title>

  <mat-card-content class="sadad_card">
    <div fxLayout="row" fxLayoutAlign="start center" class="mb-2">
      <form
        [dir]="layoutDir"
        [formGroup]="changePasswordForm"
        id="changePasswordForm"
        #myForm="ngForm"
      >
        <!-- old password feild start -->
        <mat-form-field class="ml-xs mr-xs" style="width: 100%">
          <input
            matInput
            placeholder="{{ 'current_password' | translate }}"
            type="password"
            name="oldPassword"
            required
            [formControl]="changePasswordForm.controls['oldPassword']"
          />
        </mat-form-field>

        <small
          *ngIf="
            (changePasswordForm.controls['oldPassword'].hasError('required') &&
              changePasswordForm.controls['oldPassword'].touched) ||
            (changePasswordForm.controls['oldPassword'].hasError('required') &&
              myForm.submitted)
          "
          class="mat-text-warn"
          >{{ "include_current_password" | translate }}</small
        >
        <small
          *ngIf="
            changePasswordForm.controls['oldPassword'].hasError('pattern') &&
            changePasswordForm.controls['oldPassword'].touched
          "
          class="mat-text-warn"
          >{{ "only_num" | translate }}</small
        >
        <small
          *ngIf="
            changePasswordForm.controls['oldPassword'].hasError('minlength') &&
            changePasswordForm.controls['oldPassword'].touched
          "
          class="mat-text-warn"
          >{{ "password_min" | translate }}</small
        >
        <small
          *ngIf="
            changePasswordForm.controls['oldPassword'].hasError('maxlength') &&
            changePasswordForm.controls['oldPassword'].touched
          "
          class="mat-text-warn"
          >{{ "password_max" | translate }}</small
        >
        <!-- old password feild end -->

        <!--  new password feild start -->
        <mat-form-field class="ml-xs mr-xs" style="width: 100%">
          <input
            matInput
            placeholder="{{ 'new_password' | translate }}"
            type="password"
            name="newPassword"
            required
            [formControl]="changePasswordForm.controls['newPassword']"
          />
        </mat-form-field>

        <small
          *ngIf="
            (changePasswordForm.controls['newPassword'].hasError('required') &&
              changePasswordForm.controls['newPassword'].touched) ||
            (changePasswordForm.controls['newPassword'].hasError('required') &&
              myForm.submitted)
          "
          class="mat-text-warn"
          >{{ "include_new_password" | translate }}</small
        >
        <small
          *ngIf="
            changePasswordForm.controls['newPassword'].hasError('pattern') &&
            changePasswordForm.controls['newPassword'].touched
          "
          class="mat-text-warn"
          >{{ "password_pattern" | translate }}</small
        >
        <small
          *ngIf="
            changePasswordForm.controls['newPassword'].hasError('minlength') &&
            changePasswordForm.controls['newPassword'].touched
          "
          class="mat-text-warn"
          >{{ "password_min" | translate }}</small
        >
        <small
          *ngIf="
            changePasswordForm.controls['newPassword'].hasError('maxlength') &&
            changePasswordForm.controls['newPassword'].touched
          "
          class="mat-text-warn"
          >{{ "password_max" | translate }}</small
        >
        <!--  new password feild end -->

        <!-- confirm new password feild start -->
        <mat-form-field class="ml-xs mr-xs" style="width: 100%">
          <input
            matInput
            placeholder="{{ 'confirm_password' | translate }}"
            type="password"
            name="confirmNewPassword"
            required
            [formControl]="changePasswordForm.controls['confirmNewPassword']"
          />
        </mat-form-field>

        <small
          *ngIf="
            (changePasswordForm.controls['confirmNewPassword'].hasError(
              'required'
            ) &&
              changePasswordForm.controls['confirmNewPassword'].touched) ||
            (changePasswordForm.controls['confirmNewPassword'].hasError(
              'required'
            ) &&
              myForm.submitted)
          "
          class="mat-text-warn"
          >{{ "include_confirm_password" | translate }}</small
        >
        <small
          *ngIf="
            (changePasswordForm.controls['confirmNewPassword'].errors
              ?.equalTo &&
              changePasswordForm.controls['confirmNewPassword'].touched) ||
            (changePasswordForm.controls['confirmNewPassword'].errors
              ?.equalTo &&
              myForm.submitted)
          "
          class="mat-text-warn"
          >{{ "not_matched" | translate }}</small
        >
        <small
          *ngIf="
            changePasswordForm.controls['confirmNewPassword'].hasError(
              'pattern'
            ) && changePasswordForm.controls['confirmNewPassword'].touched
          "
          class="mat-text-warn"
          >{{ "only_num" | translate }}</small
        >
        <small
          *ngIf="
            changePasswordForm.controls['confirmNewPassword'].hasError(
              'minlength'
            ) && changePasswordForm.controls['confirmNewPassword'].touched
          "
          class="mat-text-warn"
          >{{ "password_min" | translate }}</small
        >
        <small
          *ngIf="
            changePasswordForm.controls['confirmNewPassword'].hasError(
              'maxlength'
            ) && changePasswordForm.controls['confirmNewPassword'].touched
          "
          class="mat-text-warn"
          >{{ "password_max" | translate }}</small
        >
        <!-- confirm new password feild end -->
        <br />
        <button
          type="submit"
          id="billInfoSubmitButton"
          class="btn grad-mal"
          (click)="changePassword()"
          [disabled]="changePasswordForm.invalid"
        >
          {{ "change_password" | translate }}
        </button>
      </form>
    </div>
  </mat-card-content>
</mat-card>
<div class="alert alert-danger" *ngIf="showErrorMsg">
  <strong>{{ "Please Note!" | translate }}</strong>
  {{ errorMsg }}
</div>
<div class="warn">
  <div id="back-end-validation" *ngIf="error">
    <strong class="mat-text-warn">{{ error }}</strong>
  </div>
</div>
