.mat-card.mat-card {
  padding: 0;
  text-align: start;
}
.mat-card .mat-card-title {
  padding-left: 1rem;
  padding-right: 1rem;
  line-height: 1;
  font-size: 1rem;
  // background: linear-gradient(to right, #fde7be, #f1ac1e);
  background: #f1ac1e;
  font-weight: normal;
  padding: 1rem;
  text-align: start;
  color: black;
}
