<!-- @format -->
<ng-progress
  [positionUsing]="'marginLeft'"
  [minimum]="0.15"
  [maximum]="1"
  [speed]="200"
  [showSpinner]="false"
  [direction]="'leftToRightIncreased'"
  [color]="'#ffff'"
  [trickleSpeed]="100"
  [thick]="true"
  [ease]="'linear'"
>
</ng-progress>

<mat-card
  style="
    background-color: unset !important;
    box-shadow: unset !important;
    float: right;
    z-index: 999999;
  "
  *ngIf="visible1"
>
  <button mat-raised-button class="grad-mal" (click)="changeState1()">
    <mat-icon>add_to_queue </mat-icon>
    {{"Add New Branch" | translate}}
  </button>
</mat-card>
<mat-card>
  <!-- <div *ngIf="visible1" [@slideInOut]>
  </div> -->
  <mat-card-title>
    <h5 class="mt-0" style="text-align: start">
      {{ (visible1) ? ("Branch_List" | translate) : (cardTitle| translate) }}
    </h5>
  </mat-card-title>
  <div class="mb-2"></div>

  <div
    mdbModal
    #printModal="mdbModal"
    class="modal fade top"
    id="printModalTop"
    tabindex="-1"
    role="dialog"
    aria-labelledby="myModalLabel"
    aria-hidden="true"
  >
    <div
      class="modal-dialog modal-dialog-centered"
      role="document"
      style="z-index: 1099"
    >
      <!--Content-->
      <div class="modal-content">
        <!--Header-->
        <div
          class="modal-header text-center"
          style="background: linear-gradient(58deg, #ebca88, #f1ac1e)"
        >
          <h4 class="modal-title white-text w-100 font-weight-bold py-2">
            {{ "Set_Location" | translate }}
          </h4>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
            (click)="printModal.hide()"
          >
            <span aria-hidden="true" class="white-text">&times;</span>
          </button>
        </div>

        <!--Body-->
        <div class="modal-body">
          <agm-map
            (mapClick)="addMarker($event)"
            [latitude]="lat"
            [longitude]="long"
            [mapTypeId]="'hybrid'"
          >
            <agm-marker
              [latitude]="marker_lat"
              [longitude]="marker_long"
              [markerDraggable]="true"
              (dragEnd)="addMarker($event)"
            ></agm-marker>
          </agm-map>
        </div>
        <!--Footer-->
        <div class="modal-footer justify-content-center">
          <a
            type="button"
            mdbBtn
            color="warning"
            outline="true"
            (click)="closeMap()"
            class="waves-effect"
            mdbWavesEffect
            >{{"Save" | translate}}
          </a>
        </div>
      </div>
      <!--/.Content-->
    </div>
  </div>
  <mat-card *ngIf="visible">
    <!-- <mat-card-title>
      <h5 class="mt-0">{{ "Add New Branch" | translate }}</h5>
    </mat-card-title> -->
    <mat-card-content>
      <button
        type="button"
        class="close"
        aria-label="Close"
        (click)="closeForm()"
      >
        <span
          style="color: black !important"
          aria-hidden="true"
          class="white-text"
          >&times;</span
        >
      </button>
      <form [formGroup]="addBranchForm">
        <mat-form-field class="ml-xs mr-xs" style="width: 100%">
          <mat-label>{{ "language" | translate }}</mat-label>
          <mat-select
            [formControl]="addBranchForm.controls['language']"
            required
          >
            <mat-option *ngFor="let lng of langs" [value]="lng">
              {{ lng.name }}
            </mat-option>
          </mat-select>
          <mat-error
            *ngIf="
                  addBranchForm.controls['language'].hasError('required') &&
                  addBranchForm.controls['language'].touched
                "
          >
            {{ "Field_Required" | translate }}
          </mat-error>
        </mat-form-field>
        <mat-form-field class="ml-xs mr-xs" style="width: 100%">
          <input
            matInput
            placeholder="{{ 'name' | translate }}"
            name="name"
            
            [formControl]="addBranchForm.controls['name']"
          />
          <mat-error
            *ngIf="
        addBranchForm.controls['name'].hasError('required') &&
        addBranchForm.controls['name'].touched
                "
            class="mat-text-warn row error-margin"
          >
            {{ "include_name" | translate }}
          </mat-error>
          <mat-error
            *ngIf="
        addBranchForm.controls['name'].hasError('minlength') &&
        addBranchForm.controls['name'].touched
                "
            class="mat-text-warn row error-margin"
          >
            {{ "branch_name_min" | translate }}
          </mat-error>
          <mat-error
            *ngIf="
        addBranchForm.controls['name'].hasError('maxlength') &&
        addBranchForm.controls['name'].touched
                "
            class="mat-text-warn row error-margin"
          >
            {{ "branch_name_max" | translate }}
          </mat-error>
          <mat-error
          *ngIf="
          addBranchForm.controls['name'].hasError('pattern') &&
      addBranchForm.controls['name'].touched
              "
          class="mat-text-warn row error-margin"
        >
          {{ "Just Charcters" | translate }}
        </mat-error>
        </mat-form-field>

        <mat-form-field class="ml-xs mr-xs" style="width: 100%">
          <input
            matInput
            placeholder="{{ 'address' | translate }}"
            type="text"
            name="address"
            required
            [formControl]="addBranchForm.controls['address']"
          />
          <mat-error
            *ngIf="
        addBranchForm.controls['address'].hasError('required') &&
        addBranchForm.controls['address'].touched
                  "
            class="mat-text-warn row error-margin"
          >
            {{ "include_address" | translate }}
          </mat-error>
          <mat-error
            *ngIf="
        addBranchForm.controls['address'].hasError('minlength') &&
        addBranchForm.controls['address'].touched
                "
            class="mat-text-warn row error-margin"
          >
            {{ "branch_address_min" | translate }}
          </mat-error>
        </mat-form-field>

        <div class="col-md-12" style="text-align: end">
          <button
            (click)="addCaption()"
            mat-raised-button
            class="mal-gold"
            style="margin-bottom: 20px"
          >
            {{'add'|translate}}
          </button>
        </div>

        <div class="mb-1" style="padding: 30px">
          <table
            class="table table-hover table-responsive col-md-12"
            style="
              table-layout: fixed;
              font-size: small;
              word-wrap: break-word;
              display: table;
              width: 100%;
            "
          >
            <thead
              style="
                color: #3c4e62;
                border-bottom: ridge #efac13;
                border-top: ridge #efac13;
              "
            >
              <tr>
                <th style="width: 20%">{{ "language" | translate }}</th>
                <th style="width: 20%">{{ "name" | translate }}</th>
                <th style="width: 20%">{{ "address" | translate }}</th>
                <th style="width: 20%"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngIf="captions.length == 0">
                <td colspan="4" style="text-align: center; color: red">
                  {{ "no Data" | translate }}
                </td>
              </tr>
              <tr *ngFor="let caption of captions">
                <td style="width: 20%">{{ caption.languageName }}</td>
                <td style="width: 20%">{{ caption.name }}</td>
                <td style="width: 20%">{{ caption.address }}</td>
                <td style="width: 20%">
                  <button
                    (click)="deleteCaption(caption)"
                    mat-icon-button
                    mat-sm-button
                    class="delete-icon"
                    title="{{ 'delete' | translate }}"
                  >
                    <mat-icon>delete</mat-icon>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
          <hr />
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" class="mb-2">
          <button
            type="button"
            mat-raised-button
            class="mal-gold"
            (click)="openMap()"
          >
            {{ "Get Location" | translate }}
          </button>
        </div>
        <mat-form-field class="ml-xs mr-xs" style="width: 100%">
          <input
            matInput
            placeholder="{{ 'longitude' | translate }}"
            type="text"
            name="longitude"
            required
            [formControl]="addBranchForm.controls['longitude']"
          />
          <mat-error
            *ngIf="
        addBranchForm.controls['longitude'].hasError('required') &&
        addBranchForm.controls['longitude'].touched
                    "
            class="mat-text-warn row error-margin"
          >
            {{ "include_longitude" | translate }}
          </mat-error>
          <mat-error
            *ngIf="
        addBranchForm.controls['longitude'].hasError('minlength') &&
        addBranchForm.controls['longitude'].touched
                "
            class="mat-text-warn row error-margin"
          >
            {{ "branch_longitude_min" | translate }}
          </mat-error>
          <mat-error
            *ngIf="
              addBranchForm.controls['longitude'].hasError('pattern') &&
              addBranchForm.controls['longitude'].touched
                      "
            class="mat-text-warn row error-margin"
          >
            {{ "longitude_pattern" | translate }}
          </mat-error>
        </mat-form-field>

        <mat-form-field class="ml-xs mr-xs" style="width: 100%">
          <input
            matInput
            placeholder="{{ 'latitude' | translate }}"
            type="text"
            name="latitude"
            required
            [formControl]="addBranchForm.controls['latitude']"
          /><mat-error
            *ngIf="
        addBranchForm.controls['latitude'].hasError('required') &&
        addBranchForm.controls['latitude'].touched
              "
            class="mat-text-warn row error-margin"
            >{{ "include_latitude" | translate }}</mat-error
          >
          <mat-error
            *ngIf="
              addBranchForm.controls['latitude'].hasError('minlength') &&
              addBranchForm.controls['latitude'].touched
                      "
            class="mat-text-warn row error-margin"
          >
            {{ "branch_latitude_min" | translate }}
          </mat-error>
          <mat-error
            *ngIf="
              addBranchForm.controls['latitude'].hasError('pattern') &&
              addBranchForm.controls['latitude'].touched
                      "
            class="mat-text-warn row error-margin"
          >
            {{ "latitude_pattern" | translate }}
          </mat-error>
        </mat-form-field>
      </form>
      <div fxLayout="row" fxLayoutAlign="start center" class="mb-2">
        <button
          *ngIf="!isUpdate"
          style="margin: 10px"
          mat-raised-button
          class="mal-gold"
          (click)="saveBranch()"
        >
          {{ "Add New Branch" | translate }}
        </button>
        <button
          *ngIf="isUpdate"
          style="margin: 10px"
          mat-raised-button
          class="mal-gold"
          (click)="updateBranch()"
        >
          {{ "Update Branch" | translate }}
        </button>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card *ngIf="visible1">
    <!-- <mat-card-title>
      <h5 class="mt-0">{{ "Branch_List" | translate }}</h5>
    </mat-card-title> -->
    <!-- <mat-label for="search">{{ "branch_search_hint" | translate }}</mat-label> -->

    <mat-form-field style="width: 100%; margin: 0 20px" class="mb-1">
      <input
        matInput
        placeholder="{{ 'branch_search_hint' | translate }}"
        required
        (keyup)="updateFilter($event)"
      />
    </mat-form-field>
    <ngx-datatable
      class="material"
      [columnMode]="'force'"
      [headerHeight]="50"
      [footerHeight]="50"
      [externalPaging]="true"
      [rowHeight]="'auto'"
      [count]="count"
      [offset]="offset"
      [limit]="10"
      [rows]="rows"
      (page)="onPage($event)"
    >
      <ngx-datatable-column
        name="{{ 'branch_code' | translate }}"
        prop="{{ 'code' }}"
      >
      </ngx-datatable-column>
      <ngx-datatable-column
        name="{{ 'branch_name' | translate }}"
        prop="{{ 'branchCaption' }}"
      >
      </ngx-datatable-column>
      <ngx-datatable-column
        name="{{ 'currentBalance' | translate }}"
        prop="{{ 'currentBalance' }}"
      >
      </ngx-datatable-column>
      <ngx-datatable-column
        name="{{ 'availableBalance' | translate }}"
        prop="{{ 'availableBalance' }}"
      >
      </ngx-datatable-column>
      <ngx-datatable-column
        name="{{ 'status' | translate }}"
        prop="{{ 'statusCode' }}"
      >
      </ngx-datatable-column>
      <ngx-datatable-column
        name="{{ 'changestatus' | translate }}"
        [flexGrow]="1"
      >
        <ng-template let-row="row" ngx-datatable-cell-template>
          <button
            *ngIf="row.statusCode==='ACTIVE'"
            (click)="onActive(row.id)"
            mat-icon-button
            mat-sm-button
            color="accent"
            class="mr-1"
          >
            <mat-icon>power_settings_new </mat-icon>
          </button>
          <button
            *ngIf="row.statusCode==='INACTIVE'"
            (click)="onActive(row.id)"
            mat-icon-button
            mat-sm-button
            color="warn"
            class="mr-1"
          >
            <mat-icon>power_settings_new </mat-icon>
          </button>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="{{ 'credit' | translate }}" [flexGrow]="1">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <button
          disabled
            (click)="openCreditDialog(row.id,row.branchCaption,row.walletId,row.code)"
            mat-icon-button
            mat-sm-button
            color="primary_green"
            class="mr-1"
          >
            <mat-icon>add</mat-icon>
          </button>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="{{ 'debit' | translate }}" [flexGrow]="1">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <button
            (click)="openDebitDialog(row.id,row.branchCaption,row.walletId,row.code)"
            disabled
            mat-icon-button
            mat-sm-button
            color="primary_green"
            class="mr-1"
          >
            <mat-icon>remove</mat-icon>
          </button>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="{{ 'edit' | translate }}" [flexGrow]="1">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <button
            (click)="getbyId(row.id)"
            mat-icon-button
            mat-sm-button
            color="primary_green"
            class="mr-1"
          >
            <mat-icon>edit</mat-icon>
          </button>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </mat-card>
</mat-card>
<div class="alert alert-danger" *ngIf="showErrorMsg">
  <strong>{{ "Please Note!" | translate }}</strong>
  {{ errorMsg }}
</div>
