//colors
$white: #fff;
$black_10: rgba(0, 0, 0, 0.1);
$black_30: rgba(0, 0, 0, 0.3);
$color_red_orange_approx: #f44336;
$black_60: rgba(0, 0, 0, 0.6);
.user-content {
  padding: 2rem 1.5rem;
}

agm-map,
vector_map {
  width: 100%;
  height: 350px;
  display: flex;
}

.user-list-card {
  background: $white;
  box-shadow: 0 2px 6px $black_10;
  transition: all 0.3s ease-in-out 0s;
  &:hover {
    box-shadow: 0 0 21px $black_30;
  }
}

.user-name {
  font-size: 1.2rem;
}

.user-card-cover {
  padding: 2rem 1rem;
  position: relative;
  background-size: cover;
}

.user-thumb {
  position: absolute;
  bottom: -35%;
  left: 35%;
  img {
    border: 5px solid $white;
    border-radius: 100%;
    height: 75px;
    width: 75px;
  }
}

.btn-red {
  background-color: $color_red_orange_approx;
  color: $white;
  border: 1px solid $color_red_orange_approx;
}

.user-card-stats {
  margin-bottom: 0;
  li {
    display: inline-block;
    a {
      color: $black_60;
      font-size: 1rem;
      font-weight: bold;
      padding: 0 0.3rem;
    }
  }
}

.user-list-wrapper > .user-card-w {
  padding: 1rem;
}

.modal-notify .modal-header {
  border-radius: 3px 3px 0 0;
}
.modal-notify .modal-content {
  border-radius: 3px;
}

.modal-backdrop {
  position: unset;
}

.nsm-content {
  padding: 0rem;
  margin: 0px;
}

.input-group > .form-control:not(:first-child),
.input-group > .custom-select:not(:first-child) {
  margin-top: 10px;
}

div[dir="ltr"] .error-margin {
  margin-left: 10px;
}

div[dir="rtl"] .error-margin {
  margin-right: 10px;
}

.text-center {
  text-align: center;
}

.mat-card .mat-card-title {
  padding-left: 1rem;
  padding-right: 1rem;
  line-height: 1;
  font-size: 1rem;
  // background: linear-gradient(to right, #fde7be, #f1ac1e);
  background: #f1ac1e;
  font-weight: normal;
  padding: 1rem;
  text-align: start;
  color: #1a1711;
}

.dialog-title {
  font-size: xx-large;
  background-color: #d7ae5f;
  padding: 16px;
  color: black;
}

::ng-deep .mat-dialog-container {
  padding: 0px !important;
}
#dialog {
  align-content: center;
  padding: 20px;
}
.mat-dialog-actions {
  place-content: center;
}
.mat-radio-label {
  white-space: break-spaces !important;
}

body.swal2-height-auto {
  height: 0% !important;
}
