#print-section {
  text-align: start;
}
.logo {
  direction: ltr;
}
.text-danger strong {
  color: #9f181c;
  font-size: 0.94rem;
}
.receipt-main {
  background: #ffffff none repeat scroll 0 0;
  border-bottom: 12px solid #333333;
  border-top: 12px solid #9f181c;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 40px 30px !important;
  position: relative;
  box-shadow: 0 1px 21px #acacac;
  color: #333333;
  font-family: open sans;
}
.receipt-header {
  display: flex;
  justify-content: space-between;
  .img-responsive {
    width: 15rem !important;
  }
}
.receipt-header1 {
  display: flex;
  justify-content: space-around;
}
.receipt-main p {
  color: #333333;
  font-family: open sans;
  line-height: 1.42857;
}
.receipt-footer h1 {
  font-size: 12px;
  font-weight: 400 !important;
  margin: 0 !important;
}
.receipt-main::after {
  background: #414143 none repeat scroll 0 0;
  content: "";
  height: 5px;
  left: 0;
  position: absolute;
  right: 0;
  top: -13px;
}
// .receipt-main thead {
//   background: #414143 none repeat scroll 0 0;
// }
.receipt-main {
  thead {
    tr {
      background-color: rgba(237, 169, 52, 0.795);
    }
    th {
      font-weight: bold;
      color: #9f181c;
      font-size: large;
      // background: gray;
      // color: #fff;
    }
  }
}
.receipt-right {
  text-align: start;
  h5 {
    font-size: 16px;
    font-weight: bold;
    margin: 0 0 7px 0;
  }
}
.receipt-right p {
  font-size: 12px;
  margin: 0px;
}
.receipt-right p i {
  text-align: center;
  width: 18px;
}
.receipt-main td {
  padding: 9px 20px !important;
}
.receipt-main th {
  padding: 13px 20px !important;
}
.receipt-main td {
  font-size: 13px;
  font-weight: initial !important;
}
.receipt-main td p:last-child {
  margin: 0;
  padding: 0;
}
.receipt-main td h2 {
  font-size: 20px;
  font-weight: 900;
  margin: 0;
  // text-transform: uppercase;
}
.receipt-left {
  // margin-inline-end: 11rem;
  h1 {
    font-weight: 100;
    margin: 34px 0 0;
    text-align: start;
    // text-transform: uppercase;
  }
}
.receipt-right1 {
  // text-align: end;
  // direction: ltr;
  h5 {
    font-weight: bold;
  }
}
.text-right {
  h2,
  p {
    text-align: end;
  }
}

.receipt-header-mid {
  margin: 24px 0;
  overflow: hidden;
  width: -webkit-fill-available;
}

#container {
  background-color: #dcdcdc;
}

@media (min-width: 768px) {
  .col-md-6 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media print {
  * {
    outline: none;
    color-adjust: exact;
    -webkit-print-color-adjust: exact;
    // print-color-adjust: exact;
  }
  .col-lg-1,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12 {
    float: left;
  }
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-11 {
    width: 91.66666667%;
  }
  .col-lg-10 {
    width: 83.33333333%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-8 {
    width: 66.66666667%;
  }
  .col-lg-7 {
    width: 58.33333333%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-5 {
    width: 41.66666667%;
  }
  .col-lg-4 {
    width: 33.33333333%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-2 {
    width: 16.66666667%;
  }
  .col-lg-1 {
    width: 8.33333333%;
  }
}
