<!-- @format -->
<!-- <ng-progress
  [positionUsing]="'marginLeft'"
  [minimum]="0.15"
  [maximum]="1"
  [speed]="200"
  [showSpinner]="false"
  [direction]="'leftToRightIncreased'"
  [color]="'#ffff'"
  [trickleSpeed]="100"
  [thick]="true"
  [ease]="'linear'"
>
</ng-progress> -->
<mat-card id="sadad">
  <mat-card-title>
    <h5>{{ "link_t24_account" | translate }}</h5>
  </mat-card-title>
  <mat-card-content>
    <div *ngIf="!showConfirm &&!T24Account">
      <form
        [formGroup]="linkAccount"
        #myForm="ngForm"
        style="width: 100%; padding: 1.2rem"
      >
        <mat-form-field class="ml-xs mr-xs" style="width: 100%">
          <input
            matInput
            placeholder="{{ 't24AccountNum' | translate }}"
            required="required"
            [formControl]="linkAccount.controls['accountNumber']"
            type="text"
          />
        </mat-form-field>
        <small
          *ngIf="
            (linkAccount.controls['accountNumber'].hasError('required') &&
            linkAccount.controls['accountNumber'].touched) ||
            (linkAccount.controls['accountNumber'].hasError('required')&&
            myForm.submitted)
          "
          class="mat-text-warn"
          >{{ "required" | translate }}</small
        >
        <small
          *ngIf="
              linkAccount.controls['accountNumber'].hasError('pattern') &&
              linkAccount.controls['accountNumber'].touched
            "
          class="mat-text-warn"
        >
          {{ "invalid1" | translate }}</small
        >
        <small
          *ngIf="
              linkAccount.controls['accountNumber'].hasError('minlength') &&
              linkAccount.controls['accountNumber'].touched
            "
          class="mat-text-warn"
        >
          {{ "t24_min" | translate }}</small
        >
        <small
          *ngIf="
              linkAccount.controls['accountNumber'].hasError('maxlength') &&
              linkAccount.controls['accountNumber'].touched
            "
          class="mat-text-warn"
        >
          {{ "t24_max" | translate }}</small
        >
        <mat-form-field *ngIf="showOtp" class="ml-xs mr-xs" style="width: 100%">
          <input
            matInput
            placeholder="{{ 'OTP' | translate }}"
            required="required"
            [formControl]="linkAccount.controls['otpCode']"
            type="text"
            autocomplete="off"
          />
        </mat-form-field>
        <small
          *ngIf="
              linkAccount.controls['otpCode'].hasError('required') &&
              linkAccount.controls['otpCode'].touched
            "
          class="mat-text-warn"
        >
          {{ "required" | translate }}</small
        >
        <small
          *ngIf="
              linkAccount.controls['otpCode'].hasError('pattern') &&
              linkAccount.controls['otpCode'].touched
            "
          class="mat-text-warn"
        >
          {{ "only_num" | translate }}</small
        >
        <small
          *ngIf="
              linkAccount.controls['otpCode'].hasError('minlength') &&
              linkAccount.controls['otpCode'].touched
            "
          class="mat-text-warn"
        >
          {{ "valid_confirmOtp" | translate }}
        </small>
        <small
          *ngIf="
              linkAccount.controls['otpCode'].hasError('maxlength') &&
              linkAccount.controls['otpCode'].touched
            "
          class="mat-text-warn"
        >
          {{ "valid_confirmOtp" | translate }}
        </small>
      </form>

      <button
        *ngIf="!showOtp && !showConfirm"
        style="padding: 0.8rem"
        (click)="showConfirmDiv()"
        type="button"
        id="loadMoneySubmitButton"
        class="btn grad-mal"
        [disabled]="!linkAccount.valid"
      >
        {{ "Proceed" | translate }}
      </button>
      <button
        *ngIf="showOtp && !showConfirm"
        style="padding: 0.8rem"
        (click)="confirm()"
        type="button"
        id="loadMoneySubmitButton"
        class="btn grad-mal"
        [disabled]="!linkAccount.valid"
      >
        {{ "confirm" | translate }}
      </button>
    </div>
    <div *ngIf="showConfirm && !T24Account">
      <strong>
        {{"are_u_sure1"|translate}}
        {{linkAccount.controls['accountNumber'].value}} {{ "etb" | translate }}
      </strong>
      <strong> {{"are_u_sure2"|translate}} {{phoneNo}} ?? </strong>
      <div style="display: flex">
        <button
          style="padding: 0.8rem"
          (click)="getOtp()"
          type="button"
          id="loadMoneySubmitButton"
          class="btn grad-mal"
          [disabled]="!linkAccount.valid"
        >
          {{ "Proceed" | translate }}
        </button>

        <button
          style="padding: 0.8rem"
          (click)="cancelAccountLink()"
          type="button"
          id="loadMoneySubmitButton"
          class="btn grad-red"
          [disabled]="!linkAccount.valid"
        >
          {{ "cancel" | translate }}
        </button>
      </div>
    </div>
    <div
      class="alert alert-secondary"
      *ngIf="T24Account"
      style="text-align: center"
    >
      <strong style="font-weight: 800"> {{"t24AccountNum"|translate}} </strong>
      {{T24Account}}
    </div>
    <div *ngIf="T24Account">
      <h5>
        <strong> {{"already-linked"|translate}} </strong>
      </h5>
    </div>
  </mat-card-content>
</mat-card>
<div class="alert alert-danger" *ngIf="showErrorMsg">
  <strong>{{"Please Note!" | translate}}</strong>
  {{ errorMsg }}
</div>
