<div id="otc" *ngIf="!showFeesCard && !showOTPCard">
  <mat-card>
    <mat-card-title>
      <h6>{{ "sender" | translate }}</h6>
    </mat-card-title>
    <mat-card-content>
      <form [formGroup]="form">
        <div class="row">
          <div class="col-md-4">
            <mat-form-field class="ml-xs mr-xs" style="width: 95%">
              <input
                matInput
                placeholder=" {{ 'Full_name' | translate }} "
                formControlName="senderFullName"
                required
              />
              <mat-error
                *ngIf="
                  form.controls['senderFullName'].hasError('required') &&
                  form.controls['senderFullName'].touched
                "
              >
                {{ "required" | translate }}</mat-error
              >
              <mat-error
                *ngIf="
                  form.controls['senderFullName'].hasError('pattern') &&
                  form.controls['senderFullName'].touched
                "
                class="mat-text-warn"
              >
                {{ "invalid1" | translate }}</mat-error
              >
              <mat-error
                *ngIf="
                  form.controls['senderFullName'].hasError('minlength') &&
                  form.controls['senderFullName'].touched
                "
                class="mat-text-warn"
              >
                {{ "fullname_min" | translate }}</mat-error
              >
              <mat-error
                *ngIf="
                  form.controls['senderFullName'].hasError('maxlength') &&
                  form.controls['senderFullName'].touched
                "
                class="mat-text-warn"
              >
                {{ "fullname_max" | translate }}</mat-error
              >
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-form-field class="ml-xs mr-xs" style="width: 95%">
              <input
                matInput
                placeholder=" {{ 'identification_num' | translate }} "
                formControlName="senderIdentityNo"
                required
              />
              <mat-error
                *ngIf="
                  form.controls['senderIdentityNo'].hasError('required') &&
                  form.controls['senderIdentityNo'].touched
                "
              >
                {{ "required" | translate }}</mat-error
              >
              <mat-error
                *ngIf="
                  form.controls['senderIdentityNo'].hasError('pattern') &&
                  form.controls['senderIdentityNo'].touched
                "
              >
                {{ "invalid1" | translate }}</mat-error
              >
              <mat-error
                *ngIf="
                  form.controls['senderIdentityNo'].hasError('minlength') &&
                  form.controls['senderIdentityNo'].touched
                "
              >
                {{ "id_min" | translate }}</mat-error
              >
              <mat-error
                *ngIf="
                  form.controls['senderIdentityNo'].hasError('maxlength') &&
                  form.controls['senderIdentityNo'].touched
                "
              >
                {{ "id_max" | translate }}</mat-error
              >
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-form-field class="ml-xs mr-xs" style="width: 95%">
              <input
                matInput
                placeholder=" {{ 'Mobile_number' | translate }} "
                formControlName="senderMobileNo"
                required
                maxlength="10"
              />
              <span matPrefix>+251 &nbsp;</span>

              <mat-error
                *ngIf="
                  form.controls['senderMobileNo'].hasError('required') &&
                  form.controls['senderMobileNo'].touched
                "
              >
                {{ "required" | translate }}</mat-error
              >
              <mat-error
                *ngIf="
                  form.controls['senderMobileNo'].hasError('pattern') &&
                  form.controls['senderMobileNo'].touched
                "
                class="mat-text-warn"
              >
                {{ "wallet_code_only" | translate }}</mat-error
              >
              <mat-error
                *ngIf="
                  form.controls['senderMobileNo'].hasError('minlength') &&
                  form.controls['senderMobileNo'].touched
                "
                class="mat-text-warn"
              >
                {{ "walletnumber_min" | translate }}</mat-error
              >
              <mat-error
                *ngIf="
                  form.controls['senderMobileNo'].hasError('maxlength') &&
                  form.controls['senderMobileNo'].touched
                "
                class="mat-text-warn"
              >
                {{ "walletnumber_max" | translate }}</mat-error
              >
            </mat-form-field>
          </div>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-title>
      <h6>{{ "receiver" | translate }}</h6>
    </mat-card-title>
    <mat-card-content>
      <form [formGroup]="form">
        <div class="row">
          <div class="col-md-4">
            <mat-form-field class="ml-xs mr-xs" style="width: 95%">
              <input
                matInput
                placeholder=" {{ 'Full_name' | translate }} "
                formControlName="receiverFullName"
                required
              />
              <mat-error
                *ngIf="
                  form.controls['receiverFullName'].hasError('required') &&
                  form.controls['receiverFullName'].touched
                "
              >
                {{ "required" | translate }}</mat-error
              >
              <mat-error
                *ngIf="
                  form.controls['receiverFullName'].hasError('pattern') &&
                  form.controls['receiverFullName'].touched
                "
                class="mat-text-warn"
              >
                {{ "invalid1" | translate }}</mat-error
              >
              <mat-error
                *ngIf="
                  form.controls['receiverFullName'].hasError('minlength') &&
                  form.controls['receiverFullName'].touched
                "
                class="mat-text-warn"
              >
                {{ "fullname_min" | translate }}</mat-error
              >
              <mat-error
                *ngIf="
                  form.controls['receiverFullName'].hasError('maxlength') &&
                  form.controls['receiverFullName'].touched
                "
                class="mat-text-warn"
              >
                {{ "fullname_max" | translate }}</mat-error
              >
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-form-field class="ml-xs mr-xs" style="width: 95%">
              <input
                matInput
                placeholder=" {{ 'identification_num' | translate }} "
                formControlName="receiverIdentityNo"
                required
              />
              <mat-error
                *ngIf="
                  form.controls['receiverIdentityNo'].hasError('required') &&
                  form.controls['receiverIdentityNo'].touched
                "
              >
                {{ "required" | translate }}</mat-error
              >
              <mat-error
                *ngIf="
                  form.controls['receiverIdentityNo'].hasError('pattern') &&
                  form.controls['receiverIdentityNo'].touched
                "
              >
                {{ "invalid1" | translate }}</mat-error
              >
              <mat-error
                *ngIf="
                  form.controls['receiverIdentityNo'].hasError('minlength') &&
                  form.controls['receiverIdentityNo'].touched
                "
              >
                {{ "id_min" | translate }}</mat-error
              >
              <mat-error
                *ngIf="
                  form.controls['receiverIdentityNo'].hasError('maxlength') &&
                  form.controls['receiverIdentityNo'].touched
                "
              >
                {{ "id_max" | translate }}</mat-error
              >
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-form-field class="ml-xs mr-xs" style="width: 95%">
              <input
                matInput
                placeholder=" {{ 'Mobile_number' | translate }} "
                formControlName="receiverMobileNo"
                required
                maxlength="10"
              />
              <span matPrefix>+251 &nbsp;</span>

              <mat-error
                *ngIf="
                  form.controls['receiverMobileNo'].hasError('required') &&
                  form.controls['receiverMobileNo'].touched
                "
              >
                {{ "required" | translate }}</mat-error
              >
              <mat-error
                *ngIf="
                  form.controls['receiverMobileNo'].hasError('pattern') &&
                  form.controls['receiverMobileNo'].touched
                "
                class="mat-text-warn"
              >
                {{ "wallet_code_only" | translate }}</mat-error
              >
              <mat-error
                *ngIf="
                  form.controls['receiverMobileNo'].hasError('minlength') &&
                  form.controls['receiverMobileNo'].touched
                "
                class="mat-text-warn"
              >
                {{ "walletnumber_min" | translate }}</mat-error
              >
              <mat-error
                *ngIf="
                  form.controls['receiverMobileNo'].hasError('maxlength') &&
                  form.controls['receiverMobileNo'].touched
                "
                class="mat-text-warn"
              >
                {{ "walletnumber_max" | translate }}</mat-error
              >
            </mat-form-field>
          </div>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <!-- <mat-card-title>
      <h6>{{ "otc-send" | translate }}</h6>
    </mat-card-title> -->
    <mat-card-content>
      <form [formGroup]="form">
        <div class="row">
          <div class="col-md-4">
            <mat-form-field class="ml-xs mr-xs" style="width: 95%">
              <input
                matInput
                placeholder=" {{ 'amount' | translate }} "
                formControlName="amount"
                required
              />
              <span matSuffix>&nbsp; ETB &nbsp;</span>

              <mat-error
                *ngIf="
                  form.controls['amount'].hasError('required') &&
                  form.controls['amount'].touched
                "
              >
                {{ "required" | translate }}</mat-error
              >
              <mat-error
                *ngIf="
                  form.controls['amount'].hasError('min') &&
                  form.controls['amount'].touched
                "
                class="mat-text-warn"
                >{{ "desired_amount_min" | translate }}
              </mat-error>
              <mat-error
                *ngIf="
                  form.controls['amount'].hasError('max') &&
                  form.controls['amount'].touched
                "
                class="mat-text-warn"
                >{{ "desired_amount_max" | translate }} <br
              /></mat-error>
              <mat-error
                *ngIf="
                  form.controls['amount'].hasError('pattern') &&
                  form.controls['amount'].touched
                "
                class="mat-text-warn"
                >{{ "desired_amount_pattern" | translate }} <br
              /></mat-error>
            </mat-form-field>
          </div>
          <div style="text-align-last: end">
            <button btn mat-button class="next" (click)="getFees()">
              {{ "send" | translate }}
            </button>
          </div>
        </div>
        <hr />
      </form>
    </mat-card-content>
  </mat-card>
</div>
<mat-card id="card_1" *ngIf="showFeesCard">
  <mat-card-title>
    <h5>{{ "Confirm the transaction fee" | translate }}</h5>
  </mat-card-title>
  <mat-card-content>
    <div
      *ngIf="showAlert"
      class="alert alert-danger"
      style="text-align: center"
      role="alert"
    >
      <strong>
        {{ "Please wait" | translate }}
        {{ timeLeft2 }}
        {{ "seconds before trying again" | translate }}
      </strong>
    </div>
    <div>
      <h6
        style="
          padding-bottom: 28px;
          font-weight: 300 !important;
          font-size: 18px;
        "
      >
        {{ "total_amount_send_otc1" | translate }}
        <strong>
          {{ transferFees.destinationAmountWOfees }}
          {{ transferFees.sourceOperationCurrencyCode }}</strong
        >
        {{ "total_amount_send_otc2" | translate }}
        <strong> {{ mobileNumber }}</strong
        >?
      </h6>
      <button
        style="margin-left: 0.25rem; margin-top: 15px; border-radius: 20px"
        type="submit"
        class="btn grad-mal"
        [disabled]="disableButton"
        (click)="getOTP()"
      >
        {{ "confirm" | translate }}
      </button>
      <button
        style="margin-left: 0.25rem; margin-top: 15px; border-radius: 20px"
        class="btn grad-mal"
        (click)="cancel()"
      >
        {{ "cancel" | translate }}
      </button>
    </div>
  </mat-card-content>
</mat-card>

<mat-card id="card_1" *ngIf="showOTPCard">
  <mat-card-title>
    <h5>{{ "OTP" | translate }}</h5>
  </mat-card-title>
  <mat-card-content>
    <div
      *ngIf="showAlert"
      class="alert alert-danger"
      style="text-align: center"
      role="alert"
    >
      <strong>
        {{ "Please wait" | translate }}
        {{ timeLeft2 }}
        {{ "seconds before trying again" | translate }}
      </strong>
    </div>
    <form
      [formGroup]="otpForm"
      (ngSubmit)="OTC_send()"
      style="text-align: start"
    >
      <h5 style="font-weight: 300 !important">
        {{ "Please_enter_the_recived_code" | translate }}
      </h5>
      <mat-form-field class="ml-xs mr-xs" style="width: 100%">
        <input
          matInput
          [formControl]="otpForm.controls['otpCode']"
          autocomplete="off"
        />
        <span matSuffix>
          <i
            class="fa fa-refresh"
            style="cursor: pointer; font-size: x-large"
            title="{{ 'resend-otp' | translate }}"
            (click)="getOTP()"
          ></i
        ></span>
        <mat-error
          *ngIf="
            otpForm.controls['otpCode'].hasError('required') &&
            otpForm.controls['otpCode'].touched
          "
          class="mat-text-warn"
          >{{ "include_confirmOtp" | translate }}
          <br />
        </mat-error>
        <mat-error
          *ngIf="
            otpForm.controls['otpCode'].hasError('minlength') &&
            otpForm.controls['otpCode'].touched
          "
          class="mat-text-warn"
          >{{ "confirmOtp_min" | translate }}
          <br />
        </mat-error>
        <mat-error
          *ngIf="
            otpForm.controls['otpCode'].hasError('maxlength') &&
            otpForm.controls['otpCode'].touched
          "
          class="mat-text-warn"
          >{{ "confirmOtp_max" | translate }}
          <br />
        </mat-error>
        <mat-error
          *ngIf="
            otpForm.controls['otpCode'].hasError('pattern') &&
            otpForm.controls['otpCode'].touched
          "
          class="mat-text-warn"
          >{{ "confirmOtp_pattern" | translate }}
          <br />
        </mat-error>
      </mat-form-field>

      <div style="text-align: center">
        <p>{{ "time_left" | translate }} {{ timeLeft }}</p>

        <button
          style="margin-left: 0.25rem; margin-top: 15px; border-radius: 20px"
          type="submit"
          class="btn grad-mal"
          [disabled]="disableButton"
        >
          {{ "confirm" | translate }}
        </button>
        <button
          style="margin-left: 0.25rem; margin-top: 15px; border-radius: 20px"
          class="btn grad-mal"
          (click)="cancel()"
        >
          {{ "cancel" | translate }}
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
