<!-- @format -->
<!-- <ng-progress
  [positionUsing]="'marginLeft'"
  [minimum]="0.15"
  [maximum]="1"
  [speed]="200"
  [showSpinner]="false"
  [direction]="'leftToRightIncreased'"
  [color]="'#ffff'"
  [trickleSpeed]="100"
  [thick]="true"
  [ease]="'linear'"
>
</ng-progress> -->
<mat-card
  style="
    background-color: unset !important;
    box-shadow: unset !important;
    float: right;
    z-index: 999999;
  "
  *ngIf="visible1"
  [@slideInOut]
>
  <button mat-raised-button class="grad-mal" (click)="changeState1()">
    <mat-icon>person_add </mat-icon>
    {{"Add New User" | translate}}
  </button>
</mat-card>
<mat-card>
  <mat-card-title>
    <h5 class="mt-0" style="text-align: start">{{ title | translate }}</h5>
  </mat-card-title>
  <hr />
  <div class="mb-2"></div>

  <div
    mdbModal
    #printModal="mdbModal"
    class="modal fade top"
    id="printModalTop"
    tabindex="-1"
    role="dialog"
    aria-labelledby="myModalLabel"
    aria-hidden="true"
  >
    <div
      class="modal-dialog modal-dialog-centered"
      role="document"
      style="z-index: 1099"
    >
      <!--Content-->
      <div class="modal-content">
        <!--Header-->
        <div
          class="modal-header text-center"
          style="background: linear-gradient(58deg, #ebca88, #f1ac1e)"
        >
          <h4 class="modal-title white-text w-100 font-weight-bold py-2">
            {{ "Voucher" | translate }}
          </h4>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
            (click)="printModal.hide()"
          >
            <span aria-hidden="true" class="white-text">&times;</span>
          </button>
        </div>

        <!--Body-->
        <div class="modal-body" id="tmodalbody">
          <table
            width="90%"
            style="border: solid 1px #333333; border-collapse: inherit"
            align="center"
            cellpadding="0"
            cellspacing="0"
          >
            <tr>
              <td width="5%">&nbsp;</td>
              <td align="left" valign="middle" width="30%">
                User Voucher<br />
              </td>
              <td align="center" valign="middle" width="30%">
                <img
                  id="recipt"
                  style="width: 80px"
                  src="assets/images/gizaPay.png"
                  width="150"
                />
              </td>
              <td align="right" valign="middle" width="30%">
                Date: <font>{{ currentDate | date :'short'}} </font>
              </td>
              <td width="5%">&nbsp;</td>
            </tr>
            <tr>
              <td>
                <div style="height: 15px"></div>
              </td>
            </tr>
            <tr>
              <td width="5%">&nbsp;</td>
              <td align="left" valign="middle" width="90%" colspan="3">
                <hr />
              </td>
              <td width="5%">&nbsp;</td>
            </tr>
            <tr>
              <td width="5%">&nbsp;</td>
              <td align="left" valign="middle" width="90%" colspan="3">
                <table
                  width="100%"
                  cellpadding="0"
                  cellspacing="0"
                  align="center"
                >
                  <tr>
                    <td align="center" style="font-weight: bold" width="50%">
                      First Name:
                    </td>
                    <td align="center" width="50%">
                      <label for="tags">{{ currentUser.firstName }}</label>
                    </td>
                    <!-- <td align="right" style="font-weight: bold;" width="30%">
                    </td> -->
                  </tr>
                  <tr>
                    <td>
                      <div style="height: 10px"></div>
                    </td>
                  </tr>
                  <tr>
                    <td align="center" style="font-weight: bold" width="50%">
                      Father Name:
                    </td>
                    <td align="center" width="50%">
                      <label for="tags">{{ currentUser.lastName }}</label>
                    </td>
                    <!-- <td align="right" style="font-weight: bold;" width="30%">
                    </td> -->
                  </tr>
                  <tr>
                    <td>
                      <div style="height: 10px"></div>
                    </td>
                  </tr>
                  <tr>
                    <td align="center" style="font-weight: bold" width="50%">
                      Mobile Number:
                    </td>
                    <td align="center" width="50%">
                      <label for="tags">{{ currentUser.mobile }}</label>
                    </td>
                    <!-- <td align="right" style="font-weight: bold;" width="30%">
                    </td> -->
                  </tr>
                  <tr>
                    <td>
                      <div style="height: 10px"></div>
                    </td>
                  </tr>
                  <tr>
                    <td align="center" style="font-weight: bold" width="50%">
                      Email:
                    </td>
                    <td align="center" width="50%">
                      <label for="tags">{{ currentUser.email }}</label>
                    </td>
                    <!-- <td align="right" style="font-weight: bold;" width="30%">
                    </td> -->
                  </tr>
                  <tr>
                    <td>
                      <div style="height: 10px"></div>
                    </td>
                  </tr>
                  <!-- <tr>
                    <td align="center" style="font-weight: bold;" width="50%">
                      Username:
                    </td>
                    <td align="center" width="50%">
                      <label for="tags">{{ currentUser.username }}</label>
                    </td>
                  </tr> -->
                  <tr>
                    <td>
                      <div style="height: 10px"></div>
                    </td>
                  </tr>
                  <!-- <tr>
                    <td align="center" style="font-weight: bold;" width="50%">
                      Password:
                    </td>
                    <td align="center" width="50%">
                      <label for="tags">{{ "*****" }}</label>
                    </td>
                  </tr> -->
                  <tr>
                    <td>
                      <div style="height: 10px"></div>
                    </td>
                  </tr>
                </table>
              </td>
              <td width="5%">&nbsp;</td>
            </tr>
            <tr>
              <td>
                <div style="height: 15px"></div>
              </td>
            </tr>
          </table>
        </div>
        <!--Footer-->
        <div class="modal-footer justify-content-center">
          <a
            type="button"
            mdbBtn
            color="warning"
            outline="true"
            (click)="print()"
            class="waves-effect"
            mdbWavesEffect
            >{{"Print" | translate}}
          </a>
        </div>
      </div>
      <!--/.Content-->
    </div>
  </div>

  <!-- <div *ngIf="visible1" [@slideInOut]>
    <button mat-raised-button class="grad-mal"
      style="margin-top: 10px; margin-bottom: 20px; width: 100%;    padding: 14px;"
      (click)="changeState1()">{{"Add New User" | translate}}</button>
  </div> -->
  <mat-card *ngIf="visible" [@slideInOut]>
    <mat-card-content>
      <button
        type="button"
        class="close"
        aria-label="Close"
        (click)="changeState2()"
      >
        <span
          style="color: black !important"
          aria-hidden="true"
          class="white-text"
          >&times;</span
        >
      </button>
      <form [formGroup]="addUserForm" (ngSubmit)="addUserFormSubmit()">
        <mat-form-field class="ml-xs mr-xs" style="width: 100%">
          <input
            matInput
            placeholder="{{ 'user_name' | translate }}"
            type="text"
            name="userName"
            required
            [formControl]="addUserForm.controls['username']"
          />
        </mat-form-field>
        <small
          *ngIf="
        addUserForm.controls['username'].hasError('required') &&
        addUserForm.controls['username'].touched
                "
          class="mat-text-warn row error-margin"
        >
          {{ "include_userName" | translate }}
        </small>
        <small
          *ngIf="
        addUserForm.controls['username'].hasError('minlength') &&
        addUserForm.controls['username'].touched
                "
          class="mat-text-warn row error-margin"
        >
          {{ "user_name_min" | translate }}
        </small>
        <small
          *ngIf="
        addUserForm.controls['username'].hasError('maxlength') &&
        addUserForm.controls['username'].touched
                "
          class="mat-text-warn row error-margin"
        >
          {{ "user_name_max" | translate }}
        </small>
        <small
          *ngIf="
        addUserForm.controls['username'].hasError('hasArabic') &&
        addUserForm.controls['username'].touched
                "
          class="mat-text-warn row error-margin"
        >
          {{ "username_has_arabic" | translate }}
        </small>
        <mat-form-field class="ml-xs mr-xs" style="width: 100%">
          <input
            matInput
            placeholder="{{ 'firstName' | translate }}"
            type="text"
            name="firstName"
            required
            [formControl]="addUserForm.controls['firstName']"
          />
        </mat-form-field>
        <small
          *ngIf="
        addUserForm.controls['firstName'].hasError('required') &&
        addUserForm.controls['firstName'].touched
                  "
          class="mat-text-warn row error-margin"
        >
          {{ "include_firstName" | translate }}
        </small>
        <small
          *ngIf="
        addUserForm.controls['firstName'].hasError('minlength') &&
        addUserForm.controls['firstName'].touched
                  "
          class="mat-text-warn row error-margin"
        >
          {{ "firstName_min" | translate }}
        </small>
        <small
          *ngIf="
        addUserForm.controls['firstName'].hasError('maxlength') &&
        addUserForm.controls['firstName'].touched
                  "
          class="mat-text-warn row error-margin"
        >
          {{ "firstName_max" | translate }}
        </small>
        <small
          *ngIf="
        addUserForm.controls['firstName'].hasError('pattern') &&
        addUserForm.controls['firstName'].touched
                  "
          class="mat-text-warn row error-margin"
        >
          {{ "firstName_pattern" | translate }}
        </small>
        <mat-form-field class="ml-xs mr-xs" style="width: 100%">
          <input
            matInput
            placeholder="{{ 'secondName' | translate }}"
            type="text"
            name="secondName"
            required
            [formControl]="addUserForm.controls['lastName']"
          />
        </mat-form-field>
        <small
          *ngIf="
        addUserForm.controls['lastName'].hasError('required') &&
        addUserForm.controls['lastName'].touched
                    "
          class="mat-text-warn row error-margin"
        >
          {{ "include_lastName" | translate }}
        </small>
        <small
          *ngIf="
        addUserForm.controls['lastName'].hasError('minlength') &&
        addUserForm.controls['lastName'].touched
                  "
          class="mat-text-warn row error-margin"
        >
          {{ "lastname_min" | translate }}
        </small>
        <small
          *ngIf="
        addUserForm.controls['lastName'].hasError('maxlength') &&
        addUserForm.controls['lastName'].touched
                  "
          class="mat-text-warn row error-margin"
        >
          {{ "lastname_max" | translate }}
        </small>
        <small
          *ngIf="
        addUserForm.controls['lastName'].hasError('pattern') &&
        addUserForm.controls['lastName'].touched
                  "
          class="mat-text-warn row error-margin"
        >
          {{ "lastname_pattern" | translate }}
        </small>
        <div style="width: 100%; direction: ltr">
          <international-phone-number
            style="width: 100%"
            class="mystyle"
            id="international-phone-number"
            [formControl]="addUserForm.controls['mobile']"
            placeholder="{{'Phone_Number' | translate}}"
            [defaultCountry]="'et'"
            [required]="true"
            name="phone"
          ></international-phone-number>
        </div>

        <small
          *ngIf="
        addUserForm.controls['mobile'].hasError('required') &&
        addUserForm.controls['mobile'].touched
      "
          class="mat-text-warn row error-margin"
          >{{ "include_phone" | translate }}</small
        >
        <small
          *ngIf="!(addUserForm.controls['mobile'].hasError('required')) &&
            (addUserForm.controls['mobile'].hasError('phoneEmptyError') &&
            addUserForm.controls['mobile'].touched)"
          class="mat-text-warn row error-margin"
          >{{ "valid_phone" | translate }}</small
        >

        <mat-form-field class="ml-xs mr-xs" style="width: 100%">
          <input
            matInput
            placeholder="{{ 'E-Mail' | translate }}"
            type="email"
            name="email"
            [formControl]="addUserForm.controls['email']"
          />
        </mat-form-field>
        <small
          *ngIf="
        addUserForm.controls['email'].hasError('required') &&
        addUserForm.controls['email'].touched
              "
          class="mat-text-warn row error-margin"
          >{{ "include_email" | translate }}</small
        >
        <small
          *ngIf="
        addUserForm.controls['email'].errors?.email &&
        addUserForm.controls['email'].touched"
          class="mat-text-warn row error-margin"
          >{{ "valid_email" | translate }}</small
        >
        <small
          *ngIf="
        addUserForm.controls['email'].hasError('hasArabic') &&
        addUserForm.controls['email'].touched
              "
          class="mat-text-warn row error-margin"
          >{{ "email_has_arabic" | translate }}</small
        >
        <mat-form-field class="ml-xs mr-xs" style="width: 100%">
          <mat-select
            placeholder="{{ 'User_Role' | translate }}"
            [formControl]="addUserForm.controls['userRoleId']"
            required
          >
            <mat-option
              *ngFor="let userRole of userRoleList"
              [value]="userRole.userRoleId"
            >
              {{ userRole.caption }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <small
          *ngIf="
        addUserForm.controls['userRoleId'].hasError('required') &&
        addUserForm.controls['userRoleId'].touched
            "
          class="mat-text-warn row error-margin"
          >{{ "required" | translate }}</small
        >
        <!-- <mat-form-field class="ml-xs mr-xs" style="width: 100%;">
          <mat-select
            placeholder="{{ 'Branch_List' | translate }}"
            [formControl]="addUserForm.controls['branchId']"
            [required]="isRequired"
          >
            <mat-option *ngFor="let branch of branchList" [value]="branch.id">
              {{ branch.branchCaption }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <small
          *ngIf="
        addUserForm.controls['branchId'].hasError('required') &&
        addUserForm.controls['branchId'].touched
                "
          class="mat-text-warn row error-margin"
          >{{ "branch_required" | translate }}</small
        > -->
      </form>
      <div fxLayout="row" fxLayoutAlign="start center" class="mb-2">
        <button
          mat-raised-button
          class="mal-gold"
          (click)="addUserFormSubmit()"
        >
          {{ "Add New User" | translate }}
        </button>
      </div>
    </mat-card-content>
  </mat-card>

  <div>
    <mat-card *ngIf="visible1">
      <mat-form-field style="width: 96%; margin: 0 20px" class="mb-1">
        <input
          matInput
          placeholder="{{ 'user_search_hint' | translate }}"
          required
          (keyup)="updateFilter($event)"
        />
      </mat-form-field>
      <ngx-datatable
        class="material"
        [columnMode]="'force'"
        [headerHeight]="50"
        [footerHeight]="50"
        [externalPaging]="true"
        [rowHeight]="'auto'"
        [count]="count"
        [offset]="offset"
        [limit]="10"
        [rows]="rows"
        (page)="onPage($event)"
      >
        <ngx-datatable-column
          name="{{ 'Full_name' | translate }}"
          prop="{{ 'fullName'}}"
        >
        </ngx-datatable-column>
        <ngx-datatable-column
          name="{{ 'user_name' | translate }}"
          prop="{{ 'username' }}"
        >
        </ngx-datatable-column>
        <ngx-datatable-column
          name="{{ 'User_Role' | translate }}"
          prop="{{'userRoleCaption'}}"
        >
        </ngx-datatable-column>
        <ngx-datatable-column
          name="{{ 'E-Mail' | translate }}"
          prop="{{ 'email' }}"
        >
        </ngx-datatable-column>
        <ngx-datatable-column
          name="{{ 'Mobile_number' | translate }}"
          prop="{{ 'mobile' }}"
        >
        </ngx-datatable-column>
        <ngx-datatable-column
          name="{{ 'branch_name' | translate }}"
          prop="{{ 'branch' }}"
        >
        </ngx-datatable-column>
        <ngx-datatable-column
          name="{{ 'status' | translate }}"
          prop="{{ 'statusCode' }}"
        >
        </ngx-datatable-column>
        <ngx-datatable-column name="{{ 'Action' | translate }}" [flexGrow]="1">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <button
              title="{{'deactivate' |translate }}"
              *ngIf="row.statusCode==='ACTIVE'"
              (click)="onActive(row.id)"
              mat-icon-button
              mat-sm-button
              color="primary_green"
              class="mr-1"
            >
              <mat-icon>power_settings_new </mat-icon>
            </button>
            <button
              title="{{'activate' |translate }}"
              *ngIf="row.statusCode==='INACTIVE'"
              (click)="onActive(row.id)"
              mat-icon-button
              mat-sm-button
              color="warn"
              class="mr-1"
            >
              <mat-icon>power_settings_new </mat-icon>
            </button>
            <button
              title="{{'Edit' |translate }}"
              (click)="showUserModal(row)"
              mat-icon-button
              mat-sm-button
              color="primary"
              class="mr-1"
            >
              <mat-icon>mode_edit </mat-icon>
            </button>

            <button
              title="{{'Delete' |translate }}"
              (click)="showDeleteModal(row.id)"
              mat-icon-button
              mat-sm-button
              color="warn"
              class="mr-1"
            >
              <mat-icon>delete </mat-icon>
            </button>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column
          name="{{ 'Reset Password' | translate }}"
          [flexGrow]="1"
        >
          <ng-template let-row="row" ngx-datatable-cell-template>
            <button
              type="button"
              class="UserActions-editButton edit-button EdgeButton EdgeButton--tertiary"
              data-scribe-element="profile_edit_button"
              style="font-size: 12px"
            >
              <span class="button-text" (click)="showResetModal(row.id)"
                >{{"Reset Password" | translate}}</span
              >
            </button>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </mat-card>
    <!-- <div
      class="user-card-w"
      fxFlex.sm="33.33"
      fxFlex.md="33.33"
      fxFlex.lg="33.33"
      fxFlex.xl="33.33"
      *ngFor="let user of users"
    >
      <div class="user-list-card">
        <div
          class="user-card-cover"
          style="background: linear-gradient(to right, #ebca88, #f1ac1e);"
        >
          <p style="text-align: end; color: white;">{{user.userRoleCaption}}</p>
          <p style="text-align: end; color: white;">
            {{user.branchResource.name}}
          </p>
          <div>
            <div class="text-center user-thumb">
              <img
                *ngIf="user.userRoleCode==='MER_ADMIN'"
                class="img-responsive img-circle"
                src="assets/images/admin.png"
                width="120"
                height="120"
                alt="user list image"
              />

              <img
                *ngIf="user.userRoleCode==='MER_NORMAL'"
                class="img-responsive img-circle"
                src="assets/images/normal.png"
                width="120"
                height="120"
                alt="user list image"
              />
            </div>
          </div>
        </div>
        <div class="user-content" style="text-align: start;">
          <div style="margin-bottom: 10px;">
            <h4 style="margin-top: 20px;" class="user-name text-primary">
              {{user.firstName}} {{user.lastName}}
            </h4>
            <p class="text-primary">{{user.username}}</p>
            <p class="silk-block mb-1">{{user.email}}</p>
            <p class="silk-block mb-1">{{user.mobile}}</p>
          </div>
          <div class="align-self-center">
            <button
              rounded="true"
              (click)="showUserModal(user)"
              mdbWavesEffect
              type="button"
              class="UserActions-editButton edit-button EdgeButton EdgeButton--tertiary"
              data-scribe-element="profile_edit_button"
            >
              <span class="button-text" type="button"
                >{{"Edit" | translate}}</span
              >
            </button>
            <button
              type="button"
              class="UserActions-editButton edit-button EdgeButton EdgeButton--tertiary"
              data-scribe-element="profile_edit_button"
            >
              <span class="button-text" (click)="showResetModal(user.id)"
                >{{"Reset Password" | translate}}</span
              >
            </button>
            <button
              type="button"
              class="UserActions-editButton edit-button EdgeButton EdgeButton--tertiary btn-red"
              data-scribe-element="profile_edit_button"
            >
              <span class="button-text" (click)="showDeleteModal(user.id)"
                >{{"Delete" |translate}}</span
              >
            </button>
          </div>
        </div>
        <button
          *ngIf="user.statusCode==='ACTIVE'"
          mat-raised-button
          style="width: 100%; background: yellowgreen; color: white;"
          class="mr-1"
          (click)="onActive(user.id)"
        >
          {{"Active" | translate}}
        </button>
        <button
          *ngIf="user.statusCode==='INACTIVE'"
          mat-raised-button
          style="width: 100%; background: firebrick; color: white;"
          class="mr-1"
          (click)="onActive(user.id)"
        >
          {{"Inactive" | translate}}
        </button>
      </div>
    </div> -->

    <div
      mdbModal
      #userModal="mdbModal"
      class="modal fade top"
      id="userModalModalTop"
      tabindex="-1"
      role="dialog"
      aria-labelledby="myModalLabel"
      aria-hidden="true"
    >
      <div
        class="modal-dialog modal-dialog-centered"
        role="document"
        style="z-index: 1099"
      >
        <!--Content-->
        <div class="modal-content">
          <!--Header-->
          <div
            class="modal-header text-center"
            style="background: linear-gradient(58deg, #ebca88, #f1ac1e)"
          >
            <h4 class="modal-title white-text w-100 font-weight-bold py-2">
              {{ "Edit" | translate }}
            </h4>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
              (click)="userModal.hide()"
            >
              <span aria-hidden="true" class="white-text">&times;</span>
            </button>
          </div>

          <!--Body-->
          <div class="modal-body">
            <form [formGroup]="updateUserForm">
              <mat-form-field class="ml-xs mr-xs" style="width: 100%">
                <input
                  matInput
                  placeholder="{{ 'firstName' | translate }}"
                  type="text"
                  name="firstName"
                  required
                  [formControl]="updateUserForm.controls['firstName']"
                />
              </mat-form-field>
              <small
                *ngIf="
              updateUserForm.controls['firstName'].hasError('required') &&
              updateUserForm.controls['firstName'].touched
                          "
                class="mat-text-warn row error-margin"
              >
                {{ "include_firstName" | translate }}
              </small>
              <small
                *ngIf="
              updateUserForm.controls['firstName'].hasError('minlength') &&
              updateUserForm.controls['firstName'].touched
                        "
                class="mat-text-warn row error-margin"
              >
                {{ "firstName_min" | translate }}
              </small>
              <small
                *ngIf="
              updateUserForm.controls['firstName'].hasError('maxlength') &&
              updateUserForm.controls['firstName'].touched
                        "
                class="mat-text-warn row error-margin"
              >
                {{ "firstName_max" | translate }}
              </small>
              <small
                *ngIf="
              updateUserForm.controls['firstName'].hasError('pattern') &&
              updateUserForm.controls['firstName'].touched
                        "
                class="mat-text-warn row error-margin"
              >
                {{ "firstName_pattern" | translate }}
              </small>
              <mat-form-field class="ml-xs mr-xs" style="width: 100%">
                <input
                  matInput
                  placeholder="{{ 'lastName' | translate }}"
                  type="text"
                  name="lastName"
                  required
                  [formControl]="updateUserForm.controls['lastName']"
                />
              </mat-form-field>
              <small
                *ngIf="
              updateUserForm.controls['lastName'].hasError('required') &&
              updateUserForm.controls['lastName'].touched
                          "
                class="mat-text-warn row error-margin"
              >
                {{ "include_lastName" | translate }}
              </small>
              <small
                *ngIf="
              updateUserForm.controls['lastName'].hasError('minlength') &&
              updateUserForm.controls['lastName'].touched
                        "
                class="mat-text-warn row error-margin"
              >
                {{ "lastname_min" | translate }}
              </small>
              <small
                *ngIf="
              updateUserForm.controls['lastName'].hasError('maxlength') &&
              updateUserForm.controls['lastName'].touched
                        "
                class="mat-text-warn row error-margin"
              >
                {{ "lastname_max" | translate }}
              </small>
              <small
                *ngIf="
              updateUserForm.controls['lastName'].hasError('pattern') &&
              updateUserForm.controls['lastName'].touched
                        "
                class="mat-text-warn row error-margin"
              >
                {{ "lastname_pattern" | translate }}
              </small>
              <div style="width: 100%; direction: ltr">
                <international-phone-number
                  style="width: 100%"
                  class="mystyle"
                  id="international-phone-number"
                  [formControl]="updateUserForm.controls['mobile']"
                  placeholder="{{'Phone_Number' | translate}}"
                  [defaultCountry]="'et'"
                  [required]="true"
                  name="phone"
                ></international-phone-number>
              </div>

              <small
                *ngIf="
              updateUserForm.controls['mobile'].hasError('required') &&
              updateUserForm.controls['mobile'].touched
            "
                class="mat-text-warn row error-margin"
                >{{ "include_phone" | translate }}</small
              >
              <small
                *ngIf="!(updateUserForm.controls['mobile'].hasError('required')) &&
                  (updateUserForm.controls['mobile'].hasError('phoneEmptyError') &&
                  updateUserForm.controls['mobile'].touched)"
                class="mat-text-warn row error-margin"
                >{{ "valid_phone" | translate }}</small
              >

              <mat-form-field class="ml-xs mr-xs" style="width: 100%">
                <input
                  matInput
                  placeholder="{{ 'E-Mail' | translate }}"
                  type="email"
                  name="email"
                  [formControl]="updateUserForm.controls['email']"
                />
              </mat-form-field>
              <small
                *ngIf="
              updateUserForm.controls['email'].hasError('required') &&
              updateUserForm.controls['email'].touched
                  "
                class="mat-text-warn row error-margin"
                >{{ "include_email" | translate }}</small
              >
              <small
                *ngIf="
              updateUserForm.controls['email'].errors?.email &&
              updateUserForm.controls['email'].touched
                  "
                class="mat-text-warn row error-margin"
                >{{ "valid_email" | translate }}</small
              >
              <small
                *ngIf="
              updateUserForm.controls['email'].hasError('hasArabic') &&
              updateUserForm.controls['email'].touched
                        "
                class="mat-text-warn row error-margin"
                >{{ "email_has_arabic" | translate }}</small
              >
              <mat-form-field class="ml-xs mr-xs" style="width: 100%">
                <mat-select
                  placeholder="{{ 'User_Role' | translate }}"
                  [formControl]="updateUserForm.controls['userRoleId']"
                  required
                >
                  <mat-option
                    *ngFor="let userRole of userRoleList"
                    [value]="userRole.userRoleId"
                  >
                    {{ userRole.caption }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <small
                *ngIf="
              updateUserForm.controls['userRoleId'].hasError('required') &&
              updateUserForm.controls['userRoleId'].touched
                      "
                class="mat-text-warn"
                >{{ "required" | translate }}</small
              >
            </form>
          </div>
          <!--Footer-->
          <div class="modal-footer justify-content-center">
            <a
              type="button"
              mdbBtn
              color="warning"
              outline="true"
              class="waves-effect"
              mdbWavesEffect
              (click)="updateUser()"
              >{{"Save" | translate}}
            </a>
          </div>
        </div>
        <!--/.Content-->
      </div>
    </div>

    <div
      mdbModal
      #resetModal="mdbModal"
      class="modal fade top"
      id="resetModalModalTop"
      tabindex="-1"
      role="dialog"
      aria-labelledby="myModalLabel"
      aria-hidden="true"
    >
      <div
        class="modal-dialog modal-dialog-centered"
        role="document"
        style="z-index: 1099"
      >
        <!--Content-->
        <div class="modal-content">
          <!--Header-->
          <div
            class="modal-header text-center"
            style="background: linear-gradient(58deg, #ebca88, #f1ac1e)"
          >
            <h4 class="modal-title white-text w-100 font-weight-bold py-2">
              {{ "Reset Password" | translate }}
            </h4>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
              (click)="resetModal.hide()"
            >
              <span aria-hidden="true" class="white-text">&times;</span>
            </button>
          </div>

          <!--Body-->
          <div class="modal-body text-center">
            <div>{{"sureRest" | translate}}</div>
          </div>
          <!--Footer-->
          <div class="modal-footer justify-content-center">
            <a
              type="button"
              mdbBtn
              color="warning"
              outline="true"
              class="waves-effect"
              mdbWavesEffect
              (click)="resetPasswordUser()"
              >{{"Ok" | translate}}
            </a>
          </div>
        </div>
        <!--/.Content-->
      </div>
    </div>

    <div
      mdbModal
      #deleteModal="mdbModal"
      class="modal fade top"
      id="deleteModalModalTop"
      tabindex="-1"
      role="dialog"
      aria-labelledby="myModalLabel"
      aria-hidden="true"
    >
      <div
        class="modal-dialog modal-dialog-centered"
        role="document"
        style="z-index: 1099"
      >
        <!--Content-->
        <div class="modal-content">
          <!--Header-->
          <div
            class="modal-header text-center"
            style="background: linear-gradient(58deg, #ebca88, #f1ac1e)"
          >
            <h4 class="modal-title white-text w-100 font-weight-bold py-2">
              {{ "Delete" | translate }}
            </h4>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
              (click)="deleteModal.hide()"
            >
              <span aria-hidden="true" class="white-text">&times;</span>
            </button>
          </div>

          <!--Body-->
          <div class="modal-body text-center">
            <div>{{"sureDelete" |translate}}</div>
          </div>
          <!--Footer-->
          <div class="modal-footer justify-content-center">
            <a
              type="button"
              mdbBtn
              color="warning"
              outline="true"
              class="waves-effect"
              mdbWavesEffect
              (click)="deleteUser()"
              >{{"Ok" | translate}}
            </a>
          </div>
        </div>
        <!--/.Content-->
      </div>
    </div>
  </div></mat-card
>
