/**
 * *******************
 *
 * @format
 */

.mat-card .mat-card-title {
  text-align: start;
}
.mat-card-subtitle:not(:first-child),
.mat-card-title:not(:first-child) {
  text-align: start;
}

.white-icon {
  color: white;
}
.white-icon svg {
  fill: white;
}
.grad-mal {
  background: linear-gradient(58deg, #ebca88, #f1ac1e);
  color: black;
}

#sadad {
  max-width: 590px;
  & > :first-child {
    border-radius: 2px 2px 0 0;
    display: flex;
    justify-content: space-between;
  }
  & .mat-select {
    height: 3rem;
    padding-bottom: 6px;

    .mat-option-text {
      display: inline-block;
      flex-grow: 1;
      overflow: hidden;
      text-overflow: ellipsis;
      font-weight: bolder;
      font-size: larger;
    }
  }
}
#sadad_card {
  padding: 1.5rem !important;
  margin-bottom: 30px !important;
  position: relative;
}
#generated_code {
  // padding: 2rem !important;
  margin-bottom: 40px !important;
  position: relative;
  font-size: 2rem;
  font-style: bold;
  color: #f1ac1e;
}
.mb-2 {
  flex-direction: row;
  box-sizing: border-box;
  display: flex;
  place-content: center;
  align-items: center;
}
#cashInSubmitButton {
  width: 100%;
  border-radius: 20px;

  &[disabled] {
    cursor: not-allowed;
    pointer-events: all !important;
    background-color: #eeeeee;
    color: white;
    opacity: 0.7;
  }
}
#fees-submit-button {
  width: fit-content;
  border-radius: 20px;

  &[disabled] {
    cursor: not-allowed;
    pointer-events: all !important;
    background-color: #eeeeee;
    color: white;
    opacity: 0.7;
  }
}
#fees-card {
  margin: 25px;
  padding: 15px;
  text-align: center;
  span {
    font-weight: bold;
  }
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
/***********************/

.mat-card.mat-card {
  padding: 0;
  text-align: start;

  .material-icons {
    font-family: "Material Icons";
    font-weight: normal;
    font-style: normal;
    font-size: 2rem;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: "liga";
    -webkit-font-smoothing: antialiased;
    cursor: pointer;
    margin: 1rem;
  }
}
#sadad > :first-child {
  border-radius: 2px 2px 0 0;
  display: flex;
  justify-content: space-between;
}

#historytable {
  margin-top: 40px;
}

#billInfoSubmitButton {
  width: 90%;
  border-radius: 20px;
  margin-top: 20px;
  &:disabled {
    cursor: not-allowed;
    pointer-events: all !important;
    background-color: #eeeeee;
  }
}

.mat-card-content > :last-child:not(.mat-card-footer),
.mat-card > :last-child:not(.mat-card-footer) {
  // margin-bottom: 0;
  text-align: center;
  padding: 1.2rem;
}

.mat-card .mat-card-title {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
  line-height: 1;
  font-size: 1rem;
  background: #d8bc87;
  font-weight: normal;
  padding: 1rem;
  text-align: start;
}
