<!-- @format -->
<!-- <ng-progress
  [positionUsing]="'marginLeft'"
  [minimum]="0.15"
  [maximum]="1"
  [speed]="200"
  [showSpinner]="false"
  [direction]="'leftToRightIncreased'"
  [color]="'#ffff'"
  [trickleSpeed]="100"
  [thick]="true"
  [ease]="'linear'"
>
</ng-progress> -->
<div [formGroup]="createWalletForm" class="container register">
  <div class="row">
    <div class="col-md-3 register-left">
      <img src="assets/images/logo_white.png" alt="" />
      <h3>{{ "welcome" | translate }}</h3>
      <p>{{ "please_double_check" | translate }}</p>
      <!-- <input type="submit" name="" value="Login" /><br /> -->
    </div>
    <div class="col-md-9 register-right">
      <div class="tab-content" id="myTabContent">
        <div
          class="tab-pane fade show active"
          id="home"
          role="tabpanel"
          aria-labelledby="home-tab"
          [dir]="layoutDir"
        >
          <h3 class="register-heading">{{ "personal_info" | translate }}</h3>

          <div class="row register-form">
            <div class="col-md-10">
              <small
                *ngIf="
                  createWalletForm.controls['firstName'].hasError('required') &&
                  createWalletForm.controls['firstName'].touched
                "
                class="mat-text-warn"
              >
                {{ "required" | translate }}</small
              >
              <small
                *ngIf="
                  createWalletForm.controls['firstName'].hasError('pattern') &&
                  createWalletForm.controls['firstName'].touched
                "
                class="mat-text-warn"
              >
                {{ "firstName_pattern" | translate }}</small
              >
              <small
                *ngIf="
                  createWalletForm.controls['firstName'].hasError(
                    'minlength'
                  ) && createWalletForm.controls['firstName'].touched
                "
                class="mat-text-warn"
              >
                {{ "firstName_min" | translate }}</small
              >
              <small
                *ngIf="
                  createWalletForm.controls['firstName'].hasError(
                    'maxlength'
                  ) && createWalletForm.controls['firstName'].touched
                "
                class="mat-text-warn"
              >
                {{ "firstName_max" | translate }}</small
              >
              <div class="form-group">
                <mat-form-field class="ml-xs mr-xs" style="width: 100%;">
                  <input
                    matInput
                    type="text"
                    placeholder=" {{ 'firstName' | translate }} "
                    formControlName="firstName"
                    value=""
                  />
                </mat-form-field>
              </div>
              <small
                *ngIf="
                  createWalletForm.controls['secondName'].hasError(
                    'required'
                  ) && createWalletForm.controls['secondName'].touched
                "
                class="mat-text-warn"
              >
                {{ "required" | translate }}</small
              >
              <small
                *ngIf="
                  createWalletForm.controls['secondName'].hasError('pattern') &&
                  createWalletForm.controls['secondName'].touched
                "
                class="mat-text-warn"
              >
                {{ "secondName_pattern" | translate }}</small
              >
              <small
                *ngIf="
                  createWalletForm.controls['secondName'].hasError(
                    'minlength'
                  ) && createWalletForm.controls['secondName'].touched
                "
                class="mat-text-warn"
              >
                {{ "secondName_min" | translate }}</small
              >
              <small
                *ngIf="
                  createWalletForm.controls['secondName'].hasError(
                    'maxlength'
                  ) && createWalletForm.controls['secondName'].touched
                "
                class="mat-text-warn"
              >
                {{ "secondName_max" | translate }}</small
              >
              <div class="form-group">
                <mat-form-field class="ml-xs mr-xs" style="width: 100%;">
                  <input
                    matInput
                    type="text"
                    placeholder=" {{ 'secondName' | translate }} "
                    formControlName="secondName"
                    value=""
                  />
                </mat-form-field>
              </div>
              <small
                *ngIf="
                  createWalletForm.controls['lastName'].hasError('required') &&
                  createWalletForm.controls['lastName'].touched
                "
                class="mat-text-warn"
              >
                {{ "required" | translate }}</small
              >
              <small
                *ngIf="
                  createWalletForm.controls['lastName'].hasError('pattern') &&
                  createWalletForm.controls['lastName'].touched
                "
                class="mat-text-warn"
              >
                {{ "lastname_pattern" | translate }}</small
              >
              <small
                *ngIf="
                  createWalletForm.controls['lastName'].hasError('minlength') &&
                  createWalletForm.controls['lastName'].touched
                "
                class="mat-text-warn"
              >
                {{ "lastname_min" | translate }}</small
              >
              <small
                *ngIf="
                  createWalletForm.controls['lastName'].hasError('maxlength') &&
                  createWalletForm.controls['lastName'].touched
                "
                class="mat-text-warn"
              >
                {{ "lastname_max" | translate }}</small
              >
              <div class="form-group">
                <mat-form-field class="ml-xs mr-xs" style="width: 100%;">
                  <input
                    matInput
                    type="text"
                    placeholder=" {{ 'lastName' | translate }} "
                    formControlName="lastName"
                    value=""
                  />
                </mat-form-field>
              </div>
              <small
                *ngIf="
                  createWalletForm.controls['motherName'].hasError(
                    'required'
                  ) && createWalletForm.controls['motherName'].touched
                "
                class="mat-text-warn"
              >
                {{ "required" | translate }}</small
              >
              <small
                *ngIf="
                  createWalletForm.controls['motherName'].hasError('pattern') &&
                  createWalletForm.controls['motherName'].touched
                "
                class="mat-text-warn"
              >
                {{ "motherName_pattern" | translate }}</small
              >
              <small
                *ngIf="
                  createWalletForm.controls['motherName'].hasError(
                    'minlength'
                  ) && createWalletForm.controls['motherName'].touched
                "
                class="mat-text-warn"
              >
                {{ "motherName_min" | translate }}</small
              >
              <small
                *ngIf="
                  createWalletForm.controls['motherName'].hasError(
                    'maxlength'
                  ) && createWalletForm.controls['motherName'].touched
                "
                class="mat-text-warn"
              >
                {{ "motherName_max" | translate }}</small
              >
              <div class="form-group">
                <mat-form-field class="ml-xs mr-xs" style="width: 100%;">
                  <input
                    matInput
                    type="text"
                    placeholder=" {{ 'motherName' | translate }} "
                    formControlName="motherName"
                    value=""
                  />
                </mat-form-field>
              </div>

              <small
                *ngIf="
                  createWalletForm.controls['gender'].hasError('required') &&
                  createWalletForm.controls['gender'].touched
                "
                class="mat-text-warn"
              >
                {{ "required" | translate }}</small
              >
              <div class="form-group">
                <mat-radio-group
                  formControlName="gender"
                  aria-label="Select an option"
                >
                  <mat-radio-button value="M">{{
                    "male" | translate
                  }}</mat-radio-button>
                  <mat-radio-button value="F">{{
                    "female" | translate
                  }}</mat-radio-button>
                </mat-radio-group>
              </div>
            </div>

            <div class="submit-btn">
              <input
                type="submit"
                class="btnRegister"
                value=" {{ 'next' | translate }} "
                (click)="nextStep()"
              />
            </div>
          </div>
        </div>
        <div
          class="tab-pane fade show"
          id="profile"
          role="tabpanel"
          aria-labelledby="profile-tab"
          [dir]="layoutDir"
        >
          <div class="register-heading">
            <i
              [ngClass]="
                layoutDir == 'ltr' ? 'fa fa-arrow-left' : 'fa fa-arrow-right'
              "
              (click)="backStep()"
            ></i>
            <h3>{{ "identity_info" | translate }}</h3>
          </div>
          <div class="row register-form">
            <div class="col-md-10">
              <small
                *ngIf="
                  createWalletForm.controls['idType'].hasError('required') &&
                  createWalletForm.controls['idType'].touched
                "
                class="mat-text-warn"
              >
                {{ "required" | translate }}</small
              >
              <div class="form-group">
                <mat-form-field class="ml-xs mr-xs" style="width: 100%;">
                  <mat-select
                    matInput
                    placeholder=" {{ 'id_type' | translate }} "
                    formControlName="idType"
                    (ngModelChange)="idTypeChange()"
                  >
                    <mat-option [value]="type" *ngFor="let type of idTypes">{{
                      type.caption
                    }}</mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-form-field
                  *ngIf="
                    createWalletForm.controls['idType'].value.identityTypeId ==
                    3
                  "
                  class="ml-xs mr-xs"
                  style="width: 100%;"
                >
                  <mat-select
                    placeholder=" {{ 'id_country' | translate }} "
                    formControlName="idCountry"
                  >
                    <mat-option
                      [value]="country"
                      [disabled]="
                        createWalletForm.controls['idType'].value
                          .identityTypeId != 3
                      "
                      *ngFor="let country of countries"
                      >{{ country.caption }}</mat-option
                    >
                  </mat-select>
                </mat-form-field>
              </div>
              <small
                *ngIf="
                  createWalletForm.controls['idNumber'].hasError('required') &&
                  createWalletForm.controls['idNumber'].touched
                "
                class="mat-text-warn"
              >
                {{ "required" | translate }}</small
              >
              <small
                *ngIf="
                  createWalletForm.controls['idNumber'].hasError('pattern') &&
                  createWalletForm.controls['idNumber'].touched
                "
                class="mat-text-warn"
              >
                {{ "invalid1" | translate }}</small
              >
              <small
                *ngIf="
                  createWalletForm.controls['idNumber'].hasError('minlength') &&
                  createWalletForm.controls['idNumber'].touched
                "
                class="mat-text-warn"
              >
                {{ "id_min" | translate }}</small
              >
              <small
                *ngIf="
                  createWalletForm.controls['idNumber'].hasError('maxlength') &&
                  createWalletForm.controls['idNumber'].touched
                "
                class="mat-text-warn"
              >
                {{ "id_max" | translate }}</small
              >
              <div class="form-group">
                <mat-form-field class="ml-xs mr-xs" style="width: 100%;">
                  <input
                    matInput
                    type="text"
                    placeholder=" {{ 'id_num' | translate }} "
                    formControlName="idNumber"
                    value=""
                  />
                </mat-form-field>
              </div>
              <small
                *ngIf="
                  createWalletForm.controls['birthDate'].hasError('required') &&
                  createWalletForm.controls['birthDate'].touched
                "
                class="mat-text-warn"
              >
                {{ "required" | translate }}</small
              >
              <div class="form-group">
                <mat-form-field class="ml-xs mr-xs" style="width: 100%;">
                  <input
                    matInput
                    [max]="minBirthDate"
                    [matDatepicker]="picker"
                    placeholder=" {{ 'birth_date' | translate }} "
                    formControlName="birthDate"
                    readonly
                  />
                  <mat-datepicker-toggle
                    matSuffix
                    [for]="picker"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
              </div>
              <small
                *ngIf="
                  createWalletForm.controls['identityIssueDate'].hasError(
                    'required'
                  ) && createWalletForm.controls['identityIssueDate'].touched
                "
                class="mat-text-warn"
              >
                {{ "required" | translate }}</small
              >
              <div class="form-group">
                <mat-form-field class="ml-xs mr-xs" style="width: 100%;">
                  <input
                    matInput
                    [max]="today"
                    readonly
                    [matDatepicker]="picker1"
                    placeholder=" {{ 'id_issue_date' | translate }} "
                    formControlName="identityIssueDate"
                  />
                  <mat-datepicker-toggle
                    matSuffix
                    [for]="picker1"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>
              </div>
              <small
                *ngIf="
                  createWalletForm.controls['identityExpiryDate'].hasError(
                    'required'
                  ) && createWalletForm.controls['identityExpiryDate'].touched
                "
                class="mat-text-warn"
              >
                {{ "required" | translate }}</small
              >
              <div class="form-group">
                <mat-form-field class="ml-xs mr-xs" style="width: 100%;">
                  <input
                    matInput
                    [min]="today"
                    readonly
                    [matDatepicker]="picker2"
                    placeholder=" {{ 'id_expiry_date' | translate }} "
                    formControlName="identityExpiryDate"
                  />
                  <mat-datepicker-toggle
                    matSuffix
                    [for]="picker2"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #picker2></mat-datepicker>
                </mat-form-field>
              </div>

              <div class="submit-btn">
                <input
                  type="submit"
                  class="btnRegister"
                  value=" {{ 'next' | translate }} "
                  (click)="nextStep1()"
                />
              </div>
            </div>
          </div>
        </div>
        <div
          class="tab-pane fade show"
          id="profile1"
          role="tabpanel"
          aria-labelledby="profile-tab"
          [dir]="layoutDir"
        >
          <div class="register-heading">
            <i
              [ngClass]="
                layoutDir == 'ltr' ? 'fa fa-arrow-left' : 'fa fa-arrow-right'
              "
              (click)="backStep1()"
            ></i>
            <h3>{{ "contact_info" | translate }}</h3>
          </div>
          <div class="row register-form">
            <div class="col-md-10">
              <small
                *ngIf="
                  createWalletForm.controls['mobileNo'].hasError('required') &&
                  createWalletForm.controls['mobileNo'].touched
                "
                class="mat-text-warn"
              >
                {{ "required" | translate }}</small
              >
              <small
                *ngIf="
                  createWalletForm.controls['mobileNo'].hasError('pattern') &&
                  createWalletForm.controls['mobileNo'].touched
                "
                class="mat-text-warn"
              >
                {{ "wallet_code_only" | translate }}</small
              >
              <small
                *ngIf="
                  createWalletForm.controls['mobileNo'].hasError('minlength') &&
                  createWalletForm.controls['mobileNo'].touched
                "
                class="mat-text-warn"
              >
                {{ "walletnumber_min" | translate }}</small
              >
              <small
                *ngIf="
                  createWalletForm.controls['mobileNo'].hasError('maxlength') &&
                  createWalletForm.controls['mobileNo'].touched
                "
                class="mat-text-warn"
              >
                {{ "walletnumber_max" | translate }}</small
              >
              <div class="form-group">
                <mat-form-field
                  dir="ltr"
                  class="ml-xs mr-xs"
                  style="width: 100%;"
                >
                  <span matPrefix>+251 &nbsp;</span>
                  <input
                    matInput
                    type="text"
                    placeholder=" {{ 'Mobile_number' | translate }} "
                    formControlName="mobileNo"
                    value=""
                    maxlength="10"
                  />
                </mat-form-field>
              </div>
              <small
                *ngIf="
                  createWalletForm.controls['email'].hasError('required') &&
                  createWalletForm.controls['email'].touched
                "
                class="mat-text-warn"
              >
                {{ "required" | translate }}</small
              >
              <small
                *ngIf="
                  createWalletForm.controls['email'].hasError('minlength') &&
                  createWalletForm.controls['email'].touched
                "
                class="mat-text-warn"
              >
                {{ "valid_email" | translate }}</small
              >
              <small
                *ngIf="
                  createWalletForm.controls['email'].hasError('maxlength') &&
                  createWalletForm.controls['email'].touched
                "
                class="mat-text-warn"
              >
                {{ "valid_email" | translate }}</small
              >
              <div class="form-group">
                <mat-form-field class="ml-xs mr-xs" style="width: 100%;">
                  <input
                    matInput
                    type="email"
                    placeholder=" {{ 'email' | translate }} "
                    formControlName="email"
                    value=""
                  />
                </mat-form-field>
              </div>

              <small
                *ngIf="
                  createWalletForm.controls['region'].hasError('required') &&
                  createWalletForm.controls['region'].touched
                "
                class="mat-text-warn"
              >
                {{ "required" | translate }}</small
              >
              <div class="form-group">
                <mat-form-field class="ml-xs mr-xs" style="width: 100%;">
                  <mat-select
                    placeholder=" {{ 'region' | translate }} "
                    formControlName="region"
                    (ngModelChange)="regionChange($event)"
                  >
                    <mat-option
                      [value]="region"
                      *ngFor="let region of regions"
                      >{{ region.caption }}</mat-option
                    >
                  </mat-select>
                </mat-form-field>
                <mat-form-field
                  *ngIf="showOtherRegion"
                  class="ml-xs mr-xs"
                  style="width: 100%; margin-top: 5px;"
                >
                  <input
                    matInput
                    type="text"
                    placeholder=" {{ 'region' | translate }} "
                    formControlName="regionOther"
                    value=""
                  />
                </mat-form-field>
              </div>
              <small
                *ngIf="
                  createWalletForm.controls['city'].hasError('required') &&
                  createWalletForm.controls['city'].touched
                "
                class="mat-text-warn"
              >
                {{ "required" | translate }}</small
              >
              <div class="form-group">
                <mat-form-field class="ml-xs mr-xs" style="width: 100%;">
                  <mat-select
                    placeholder=" {{ 'city' | translate }} "
                    formControlName="city"
                    (ngModelChange)="cityChange($event)"
                  >
                    <mat-option [value]="city" *ngFor="let city of cities">{{
                      city.caption
                    }}</mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field
                  *ngIf="showOtherCity"
                  class="ml-xs mr-xs"
                  style="width: 100%; margin-top: 5px;"
                >
                  <input
                    matInput
                    type="text"
                    placeholder=" {{ 'city' | translate }} "
                    formControlName="cityOther"
                    value=""
                  />
                </mat-form-field>
              </div>
              <small
                *ngIf="
                  createWalletForm.controls['subCity'].hasError('required') &&
                  createWalletForm.controls['subCity'].touched
                "
                class="mat-text-warn"
              >
                {{ "required" | translate }}</small
              >
              <div class="form-group">
                <mat-form-field class="ml-xs mr-xs" style="width: 100%;">
                  <mat-select
                    placeholder=" {{ 'subCity' | translate }} "
                    formControlName="subCity"
                    (ngModelChange)="subCityChange($event)"
                  >
                    <mat-option
                      [value]="subCity"
                      *ngFor="let subCity of subCities"
                      >{{ subCity.caption }}</mat-option
                    >
                  </mat-select>
                </mat-form-field>
                <mat-form-field
                  *ngIf="showOtherSubCity"
                  class="ml-xs mr-xs"
                  style="width: 100%; margin-top: 5px;"
                >
                  <input
                    matInput
                    type="text"
                    placeholder=" {{ 'subCity' | translate }} "
                    formControlName="subCityOther"
                    value=""
                  />
                </mat-form-field>
              </div>
              <small
                *ngIf="
                  createWalletForm.controls['woreda'].hasError('required') &&
                  createWalletForm.controls['woreda'].touched
                "
                class="mat-text-warn"
              >
                {{ "required" | translate }}</small
              >
              <div class="form-group">
                <mat-form-field class="ml-xs mr-xs" style="width: 100%;">
                  <input
                    matInput
                    type="text"
                    placeholder=" {{ 'woreda' | translate }} "
                    formControlName="woreda"
                    value=""
                  />
                </mat-form-field>
              </div>
              <small
                *ngIf="
                  createWalletForm.controls['houseNo'].hasError('required') &&
                  createWalletForm.controls['houseNo'].touched
                "
                class="mat-text-warn"
              >
                {{ "required" | translate }}</small
              >
              <div class="form-group">
                <mat-form-field class="ml-xs mr-xs" style="width: 100%;">
                  <input
                    matInput
                    type="text"
                    placeholder=" {{ 'houseNo' | translate }} "
                    formControlName="houseNo"
                    value=""
                  />
                </mat-form-field>
              </div>

              <div class="submit-btn">
                <input
                  type="submit"
                  class="btnRegister"
                  value=" {{ 'next' | translate }} "
                  (click)="nextStep2()"
                />
              </div>
            </div>
          </div>
        </div>
        <div
          class="tab-pane fade show"
          id="profile2"
          role="tabpanel"
          aria-labelledby="profile-tab"
          [dir]="layoutDir"
        >
          <div class="register-heading">
            <i
              [ngClass]="
                layoutDir == 'ltr' ? 'fa fa-arrow-left' : 'fa fa-arrow-right'
              "
              (click)="backStep2()"
            ></i>
            <h3>{{ "account_info" | translate }}</h3>
          </div>
          <div class="row register-form">
            <div class="col-md-10">
              <small
                *ngIf="
                  createWalletForm.controls['t24AccountNum'].hasError(
                    'required'
                  ) && createWalletForm.controls['t24AccountNum'].touched
                "
                class="mat-text-warn"
              >
                {{ "required" | translate }}</small
              >
              <div class="form-group">
                <mat-form-field class="ml-xs mr-xs" style="width: 100%;">
                  <input
                    matInput
                    type="text"
                    placeholder=" {{ 't24AccountNum' | translate }} "
                    formControlName="t24AccountNum"
                    value=""
                  />
                </mat-form-field>
              </div>

              <small
                *ngIf="
                  createWalletForm.controls['attachmentOne'].hasError(
                    'required'
                  ) && createWalletForm.controls['attachmentOne'].touched
                "
                class="mat-text-warn"
              >
                {{ "required" | translate }}</small
              >
              <div class="form-group">
                <input
                  id="file1"
                  #file1
                  type="file"
                  name="photo"
                  ng2FileSelect
                  [uploader]="uploader"
                  placeholder=" {{ 'attach' | translate }} 1"
                />
                <mat-form-field class="ml-xs mr-xs" style="width: 100%;">
                  <input
                    matInput
                    type="text"
                    placeholder=" {{ 'attach' | translate }} 1"
                    [value]="fileName1"
                  />

                  <i
                    matSuffix
                    class="fa fa-paperclip"
                    (click)="
                      file1.click(); onFileUpload('attachmentOne', 'fileName1')
                    "
                  ></i>
                </mat-form-field>
              </div>

              <small
                *ngIf="
                  createWalletForm.controls['attachmentTwo'].hasError(
                    'required'
                  ) && createWalletForm.controls['attachmentTwo'].touched
                "
                class="mat-text-warn"
              >
                {{ "required" | translate }}</small
              >
              <div class="form-group">
                <input
                  id="file2"
                  #file2
                  type="file"
                  name="photo"
                  ng2FileSelect
                  [uploader]="uploader"
                  placeholder=" {{ 'attach' | translate }} 2 "
                />

                <mat-form-field class="ml-xs mr-xs" style="width: 100%;">
                  <input
                    matInput
                    type="text"
                    placeholder=" {{ 'attach' | translate }} 2"
                    [value]="fileName2"
                  />
                  <i
                    matSuffix
                    class="fa fa-paperclip"
                    (click)="
                      file2.click(); onFileUpload('attachmentTwo', 'fileName2')
                    "
                  ></i>
                </mat-form-field>
              </div>

              <small
                *ngIf="
                  createWalletForm.controls['attachmentThree'].hasError(
                    'required'
                  ) && createWalletForm.controls['attachmentThree'].touched
                "
                class="mat-text-warn"
              >
                {{ "required" | translate }}</small
              >
              <div class="form-group">
                <input
                  id="file3"
                  #file3
                  type="file"
                  name="photo"
                  ng2FileSelect
                  [uploader]="uploader"
                  placeholder=" {{ 'attach' | translate }} 3 "
                />
                <mat-form-field class="ml-xs mr-xs" style="width: 100%;">
                  <input
                    matInput
                    type="text"
                    placeholder=" {{ 'attach' | translate }} 3"
                    [value]="fileName3"
                  />

                  <i
                    matSuffix
                    class="fa fa-paperclip"
                    (click)="
                      file3.click();
                      onFileUpload('attachmentThree', 'fileName3')
                    "
                  ></i>
                </mat-form-field>
              </div>

              <div class="submit-btn">
                <input
                  (click)="register()"
                  type="submit"
                  class="btnRegister"
                  value=" {{ 'REGISTER' | translate }} "
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="" *ngIf="!createWalletForm.valid">
      <strong>{{ "Please Note!" | translate }}</strong>
      {{ errorMsg }}
    </div> -->
    <div class="alert alert-danger" *ngIf="showErrorMsg">
      <strong>{{ "Please Note!" | translate }}</strong>
      {{ errorMsg }}
    </div>
  </div>
</div>
