<!-- @format -->
<!-- <ng-progress
  [positionUsing]="'marginLeft'"
  [minimum]="0.15"
  [maximum]="1"
  [speed]="200"
  [showSpinner]="false"
  [direction]="'leftToRightIncreased'"
  [color]="'#ffff'"
  [trickleSpeed]="100"
  [thick]="true"
  [ease]="'linear'"
>
</ng-progress> -->
<form [dir]="layoutDir" [formGroup]="upgradeWalletForm">
  <div class="container register">
    <label [dir]="layoutDir" for="search">
      {{ "Enter_wallet_code" | translate }}
    </label>
    <div style="position: relative" class="search">
      <span style="position: absolute; top: 1rem; left: 2rem" matPrefix
        >+251 &nbsp;</span
      >
      <input
        name="search"
        type="text"
        class="form-control"
        formControlName="walletCode"
        value=""
        minlength="9"
        maxlength="10"
      />
      <i class="fa fa-search" (click)="getWalletInfo()"></i>
    </div>
    <div class="errs">
      <small
        *ngIf="
          upgradeWalletForm.controls['walletCode'].hasError('required') &&
          upgradeWalletForm.controls['walletCode'].touched
        "
        class="mat-text-warn"
      >
        {{ "required" | translate }}</small
      >
      <small
        *ngIf="
          upgradeWalletForm.controls['walletCode'].hasError('pattern') &&
          upgradeWalletForm.controls['walletCode'].touched
        "
        class="mat-text-warn"
      >
        {{ "wallet_code_only" | translate }}</small
      >
      <small
        *ngIf="
          upgradeWalletForm.controls['walletCode'].hasError('minlength') &&
          upgradeWalletForm.controls['walletCode'].touched
        "
        class="mat-text-warn"
      >
        {{ "walletnumber_min" | translate }}</small
      >
      <small
        *ngIf="
          upgradeWalletForm.controls['walletCode'].hasError('maxlength') &&
          upgradeWalletForm.controls['walletCode'].touched
        "
        class="mat-text-warn"
      >
        {{ "walletnumber_max" | translate }}</small
      >
    </div>
    <div class="row">
      <div class="col-md-3 register-left">
        <img src="assets/images/logo_white.png" alt="" />
        <h3>{{ "welcome" | translate }}</h3>
        <p>{{ "please_double_check" | translate }}</p>
      </div>
      <div
        [ngStyle]="{ display: this.showInfo ? 'block' : 'none' }"
        class="col-md-9 register-right"
      >
        <div class="tab-content" id="myTabContent">
          <div
            class="tab-pane fade show active"
            id="home"
            role="tabpanel"
            aria-labelledby="home-tab"
            [dir]="layoutDir"
          >
            <h3 class="register-heading">
              {{ "personal_info" | translate }}
            </h3>

            <div class="row register-form">
              <div class="col-md-10">
                <small
                  *ngIf="
                    upgradeWalletForm.controls['firstName'].hasError(
                      'required'
                    ) && upgradeWalletForm.controls['firstName'].touched
                  "
                  class="mat-text-warn"
                >
                  {{ "required" | translate }}</small
                >
                <small
                  *ngIf="
                    upgradeWalletForm.controls['firstName'].hasError(
                      'pattern'
                    ) && upgradeWalletForm.controls['firstName'].touched
                  "
                  class="mat-text-warn"
                >
                  {{ "firstName_pattern" | translate }}</small
                >
                <small
                  *ngIf="
                    upgradeWalletForm.controls['firstName'].hasError(
                      'minlength'
                    ) && upgradeWalletForm.controls['firstName'].touched
                  "
                  class="mat-text-warn"
                >
                  {{ "firstName_min" | translate }}</small
                >
                <small
                  *ngIf="
                    upgradeWalletForm.controls['firstName'].hasError(
                      'maxlength'
                    ) && upgradeWalletForm.controls['firstName'].touched
                  "
                  class="mat-text-warn"
                >
                  {{ "firstName_max" | translate }}</small
                >
                <div class="form-group">
                  <mat-form-field class="ml-xs mr-xs" style="width: 100%">
                    <input
                      matInput
                      type="text"
                      placeholder=" {{ 'firstName' | translate }} "
                      formControlName="firstName"
                      value=""
                    />
                  </mat-form-field>
                </div>
                <small
                  *ngIf="
                    upgradeWalletForm.controls['secondName'].hasError(
                      'required'
                    ) && upgradeWalletForm.controls['secondName'].touched
                  "
                  class="mat-text-warn"
                >
                  {{ "required" | translate }}</small
                >
                <small
                  *ngIf="
                    upgradeWalletForm.controls['secondName'].hasError(
                      'pattern'
                    ) && upgradeWalletForm.controls['secondName'].touched
                  "
                  class="mat-text-warn"
                >
                  {{ "secondName_pattern" | translate }}</small
                >
                <small
                  *ngIf="
                    upgradeWalletForm.controls['secondName'].hasError(
                      'minlength'
                    ) && upgradeWalletForm.controls['secondName'].touched
                  "
                  class="mat-text-warn"
                >
                  {{ "secondName_min" | translate }}</small
                >
                <small
                  *ngIf="
                    upgradeWalletForm.controls['secondName'].hasError(
                      'maxlength'
                    ) && upgradeWalletForm.controls['secondName'].touched
                  "
                  class="mat-text-warn"
                >
                  {{ "secondName_max" | translate }}</small
                >
                <div class="form-group">
                  <mat-form-field class="ml-xs mr-xs" style="width: 100%">
                    <input
                      matInput
                      type="text"
                      placeholder=" {{ 'secondName' | translate }} "
                      formControlName="secondName"
                      value=""
                    />
                  </mat-form-field>
                </div>
                <small
                  *ngIf="
                    upgradeWalletForm.controls['lastName'].hasError(
                      'required'
                    ) && upgradeWalletForm.controls['lastName'].touched
                  "
                  class="mat-text-warn"
                >
                  {{ "required" | translate }}</small
                >
                <small
                  *ngIf="
                    upgradeWalletForm.controls['lastName'].hasError(
                      'pattern'
                    ) && upgradeWalletForm.controls['lastName'].touched
                  "
                  class="mat-text-warn"
                >
                  {{ "lastname_pattern" | translate }}</small
                >
                <small
                  *ngIf="
                    upgradeWalletForm.controls['lastName'].hasError(
                      'minlength'
                    ) && upgradeWalletForm.controls['lastName'].touched
                  "
                  class="mat-text-warn"
                >
                  {{ "lastname_min" | translate }}</small
                >
                <small
                  *ngIf="
                    upgradeWalletForm.controls['lastName'].hasError(
                      'maxlength'
                    ) && upgradeWalletForm.controls['lastName'].touched
                  "
                  class="mat-text-warn"
                >
                  {{ "lastname_max" | translate }}</small
                >
                <div class="form-group">
                  <mat-form-field class="ml-xs mr-xs" style="width: 100%">
                    <input
                      matInput
                      type="text"
                      placeholder=" {{ 'lastName' | translate }} "
                      formControlName="lastName"
                      value=""
                    />
                  </mat-form-field>
                </div>
                <small
                  *ngIf="
                    upgradeWalletForm.controls['motherName'].hasError(
                      'required'
                    ) && upgradeWalletForm.controls['motherName'].touched
                  "
                  class="mat-text-warn"
                >
                  {{ "required" | translate }}</small
                >
                <small
                  *ngIf="
                    upgradeWalletForm.controls['motherName'].hasError(
                      'pattern'
                    ) && upgradeWalletForm.controls['motherName'].touched
                  "
                  class="mat-text-warn"
                >
                  {{ "motherName_pattern" | translate }}</small
                >
                <small
                  *ngIf="
                    upgradeWalletForm.controls['motherName'].hasError(
                      'minlength'
                    ) && upgradeWalletForm.controls['motherName'].touched
                  "
                  class="mat-text-warn"
                >
                  {{ "motherName_min" | translate }}</small
                >
                <small
                  *ngIf="
                    upgradeWalletForm.controls['motherName'].hasError(
                      'maxlength'
                    ) && upgradeWalletForm.controls['motherName'].touched
                  "
                  class="mat-text-warn"
                >
                  {{ "motherName_max" | translate }}</small
                >
                <div class="form-group">
                  <mat-form-field class="ml-xs mr-xs" style="width: 100%">
                    <input
                      matInput
                      type="text"
                      placeholder=" {{ 'motherName' | translate }} "
                      formControlName="motherName"
                      value=""
                    />
                  </mat-form-field>
                </div>

                <small
                  *ngIf="
                    upgradeWalletForm.controls['gender'].hasError('required') &&
                    upgradeWalletForm.controls['gender'].touched
                  "
                  class="mat-text-warn"
                >
                  {{ "required" | translate }}</small
                >
                <div class="form-group">
                  <mat-radio-group
                    formControlName="gender"
                    aria-label="Select an option"
                  >
                    <mat-radio-button value="M">{{
                      "male" | translate
                    }}</mat-radio-button>
                    <mat-radio-button value="F">{{
                      "female" | translate
                    }}</mat-radio-button>
                  </mat-radio-group>
                  <div *ngIf="wallet" class="form-group">
                    <div class="maxl">
                      <span
                        >{{ "user_level" | translate }} :
                        {{ wallet.walletLevel }}</span
                      >
                    </div>
                  </div>
                </div>
              </div>

              <div class="submit-btn">
                <input
                  type="submit"
                  class="btnRegister"
                  value=" {{ 'next' | translate }} "
                  (click)="nextStep()"
                />
              </div>
            </div>
          </div>
          <div
            class="tab-pane fade show"
            id="profile"
            role="tabpanel"
            aria-labelledby="profile-tab"
            [dir]="layoutDir"
          >
            <div class="register-heading">
              <i
                [ngClass]="
                  layoutDir == 'ltr' ? 'fa fa-arrow-left' : 'fa fa-arrow-right'
                "
                (click)="backStep()"
              ></i>
              <h3>{{ "identity_info" | translate }}</h3>
            </div>
            <div class="row register-form">
              <div class="col-md-10">
                <small
                  *ngIf="
                    upgradeWalletForm.controls['idType'].hasError('required') &&
                    upgradeWalletForm.controls['idType'].touched
                  "
                  class="mat-text-warn"
                >
                  {{ "required" | translate }}</small
                >
                <div class="form-group">
                  <mat-form-field class="ml-xs mr-xs" style="width: 100%">
                    <mat-select
                      id="idtype"
                      matInput
                      placeholder=" {{ 'id_type' | translate }} "
                      formControlName="idType"
                      (ngModelChange)="idTypeChange($event)"
                    >
                      <mat-option [value]="type" *ngFor="let type of idTypes">{{
                        type.caption
                      }}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

                <ng-container *ngIf="this.wallet">
                  <small
                    *ngIf="
                      upgradeWalletForm.controls['idCountry'].hasError(
                        'required'
                      ) && upgradeWalletForm.controls['idCountry'].touched
                    "
                    class="mat-text-warn"
                  >
                    {{ "required" | translate }}</small
                  >
                  <div *ngIf="showCountry" class="form-group">
                    <mat-form-field class="ml-xs mr-xs" style="width: 100%">
                      <mat-select
                        matInput
                        placeholder=" {{ 'id_country' | translate }} "
                        formControlName="idCountry"
                      >
                        <mat-option
                          [value]="country"
                          [disabled]="!showCountry"
                          *ngFor="let country of countries"
                          >{{ country.caption }}</mat-option
                        >
                      </mat-select>
                    </mat-form-field>
                  </div>
                </ng-container>

                <small
                  *ngIf="
                    upgradeWalletForm.controls['idNumber'].hasError(
                      'required'
                    ) && upgradeWalletForm.controls['idNumber'].touched
                  "
                  class="mat-text-warn"
                >
                  {{ "required" | translate }}</small
                >
                <small
                  *ngIf="
                    upgradeWalletForm.controls['idNumber'].hasError(
                      'pattern'
                    ) && upgradeWalletForm.controls['idNumber'].touched
                  "
                  class="mat-text-warn"
                >
                  {{ "invalid1" | translate }}</small
                >
                <small
                  *ngIf="
                    upgradeWalletForm.controls['idNumber'].hasError(
                      'minlength'
                    ) && upgradeWalletForm.controls['idNumber'].touched
                  "
                  class="mat-text-warn"
                >
                  {{ "id_min" | translate }}</small
                >
                <small
                  *ngIf="
                    upgradeWalletForm.controls['idNumber'].hasError(
                      'maxlength'
                    ) && upgradeWalletForm.controls['idNumber'].touched
                  "
                  class="mat-text-warn"
                >
                  {{ "id_max" | translate }}</small
                >
                <div class="form-group">
                  <mat-form-field class="ml-xs mr-xs" style="width: 100%">
                    <input
                      matInput
                      type="text"
                      placeholder=" {{ 'id_num' | translate }} "
                      formControlName="idNumber"
                      value=""
                    />
                  </mat-form-field>
                </div>
                <small
                  *ngIf="
                    upgradeWalletForm.controls['birthDate'].hasError(
                      'required'
                    ) && upgradeWalletForm.controls['birthDate'].touched
                  "
                  class="mat-text-warn"
                >
                  {{ "required" | translate }}</small
                >
                <div class="form-group">
                  <mat-form-field class="ml-xs mr-xs" style="width: 100%">
                    <input
                      matInput
                      [max]="minBirthDate"
                      [matDatepicker]="picker"
                      placeholder=" {{ 'birth_date' | translate }} "
                      formControlName="birthDate"
                    />
                    <mat-datepicker-toggle
                      matSuffix
                      [for]="picker"
                    ></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
                </div>
                <small
                  *ngIf="
                    upgradeWalletForm.controls['identityIssueDate'].hasError(
                      'required'
                    ) && upgradeWalletForm.controls['identityIssueDate'].touched
                  "
                  class="mat-text-warn"
                >
                  {{ "required" | translate }}</small
                >
                <div class="form-group">
                  <mat-form-field class="ml-xs mr-xs" style="width: 100%">
                    <input
                      matInput
                      [max]="today"
                      readonly
                      [matDatepicker]="picker1"
                      placeholder=" {{ 'id_issue_date' | translate }} "
                      formControlName="identityIssueDate"
                    />
                    <mat-datepicker-toggle
                      matSuffix
                      [for]="picker1"
                    ></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                  </mat-form-field>
                </div>

                <small
                  *ngIf="
                    upgradeWalletForm.controls['identityExpiryDate'].hasError(
                      'required'
                    ) &&
                    upgradeWalletForm.controls['identityExpiryDate'].touched
                  "
                  class="mat-text-warn"
                >
                  {{ "required" | translate }}</small
                >
                <div class="form-group">
                  <mat-form-field class="ml-xs mr-xs" style="width: 100%">
                    <input
                      matInput
                      [min]="today"
                      readonly
                      [matDatepicker]="picker2"
                      placeholder=" {{ 'id_expiry_date' | translate }} "
                      formControlName="identityExpiryDate"
                    />
                    <mat-datepicker-toggle
                      matSuffix
                      [for]="picker2"
                    ></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                  </mat-form-field>
                </div>
              </div>
              <div *ngIf="wallet" class="submit-btn">
                <input
                  (click)="nextStep1()"
                  type="submit"
                  class="btnRegister"
                  value=" {{ 'next' | translate }}"
                />
              </div>
            </div>
          </div>

          <div
            class="tab-pane fade show"
            id="profile1"
            role="tabpanel"
            aria-labelledby="profile-tab"
            [dir]="layoutDir"
          >
            <div class="register-heading">
              <i
                [ngClass]="
                  layoutDir == 'ltr' ? 'fa fa-arrow-left' : 'fa fa-arrow-right'
                "
                (click)="backStep1()"
              ></i>
              <h3>{{ "contact_info" | translate }}</h3>
            </div>
            <div class="row register-form">
              <div class="col-md-10">
                <small
                  *ngIf="
                    upgradeWalletForm.controls['mobileNo'].hasError(
                      'required'
                    ) && upgradeWalletForm.controls['mobileNo'].touched
                  "
                  class="mat-text-warn"
                >
                  {{ "required" | translate }}</small
                >
                <small
                  *ngIf="
                    upgradeWalletForm.controls['mobileNo'].hasError(
                      'pattern'
                    ) && upgradeWalletForm.controls['mobileNo'].touched
                  "
                  class="mat-text-warn"
                >
                  {{ "wallet_code_only" | translate }}</small
                >
                <small
                  *ngIf="
                    upgradeWalletForm.controls['mobileNo'].hasError(
                      'minlength'
                    ) && upgradeWalletForm.controls['mobileNo'].touched
                  "
                  class="mat-text-warn"
                >
                  {{ "walletnumber_min" | translate }}</small
                >
                <small
                  *ngIf="
                    upgradeWalletForm.controls['mobileNo'].hasError(
                      'maxlength'
                    ) && upgradeWalletForm.controls['mobileNo'].touched
                  "
                  class="mat-text-warn"
                >
                  {{ "walletnumber_max" | translate }}</small
                >
                <div class="form-group">
                  <mat-form-field
                    dir="ltr"
                    class="ml-xs mr-xs"
                    style="width: 100%"
                  >
                    <span matPrefix>+251 &nbsp;</span>
                    <input
                      matInput
                      type="text"
                      placeholder=" {{ 'Mobile_number' | translate }} "
                      formControlName="mobileNo"
                      value=""
                    />
                  </mat-form-field>
                </div>
                <small
                  *ngIf="
                    upgradeWalletForm.controls['email'].hasError('required') &&
                    upgradeWalletForm.controls['email'].touched
                  "
                  class="mat-text-warn"
                >
                  {{ "required" | translate }}</small
                >

                <small
                  *ngIf="
                    upgradeWalletForm.controls['email'].hasError('minlength') &&
                    upgradeWalletForm.controls['email'].touched
                  "
                  class="mat-text-warn"
                >
                  {{ "valid_email" | translate }}</small
                >
                <small
                  *ngIf="
                    upgradeWalletForm.controls['email'].hasError('maxlength') &&
                    upgradeWalletForm.controls['email'].touched
                  "
                  class="mat-text-warn"
                >
                  {{ "valid_email" | translate }}</small
                >
                <div class="form-group">
                  <mat-form-field class="ml-xs mr-xs" style="width: 100%">
                    <input
                      matInput
                      type="email"
                      placeholder=" {{ 'email' | translate }} "
                      formControlName="email"
                      value=""
                    />
                  </mat-form-field>
                </div>

                <small
                  *ngIf="
                    upgradeWalletForm.controls['region'].hasError('required') &&
                    upgradeWalletForm.controls['region'].touched
                  "
                  class="mat-text-warn"
                >
                  {{ "required" | translate }}</small
                >
                <div class="form-group">
                  <mat-form-field class="ml-xs mr-xs" style="width: 100%">
                    <mat-select
                      placeholder=" {{ 'region' | translate }} "
                      formControlName="region"
                      (ngModelChange)="regionChange($event); cityCall($event)"
                    >
                      <mat-option
                        [value]="region"
                        *ngFor="let region of regions"
                        >{{ region.caption }}</mat-option
                      >
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field
                    *ngIf="showOtherRegion"
                    class="ml-xs mr-xs"
                    style="width: 100%; margin-top: 5px"
                  >
                    <input
                      matInput
                      type="text"
                      placeholder=" {{ 'region' | translate }} "
                      formControlName="regionOther"
                      value=""
                    />
                  </mat-form-field>
                </div>
                <small
                  *ngIf="
                    upgradeWalletForm.controls['city'].hasError('required') &&
                    upgradeWalletForm.controls['city'].touched
                  "
                  class="mat-text-warn"
                >
                  {{ "required" | translate }}</small
                >
                <div class="form-group">
                  <mat-form-field class="ml-xs mr-xs" style="width: 100%">
                    <mat-select
                      placeholder=" {{ 'city' | translate }} "
                      formControlName="city"
                      (ngModelChange)="cityChange($event); subCityCall($event)"
                    >
                      <mat-option [value]="city" *ngFor="let city of cities">{{
                        city.caption
                      }}</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field
                    *ngIf="showOtherCity"
                    class="ml-xs mr-xs"
                    style="width: 100%; margin-top: 5px"
                  >
                    <input
                      matInput
                      type="text"
                      placeholder=" {{ 'city' | translate }} "
                      formControlName="cityOther"
                      value=""
                    />
                  </mat-form-field>
                </div>
                <small
                  *ngIf="
                    upgradeWalletForm.controls['subCity'].hasError(
                      'required'
                    ) && upgradeWalletForm.controls['subCity'].touched
                  "
                  class="mat-text-warn"
                >
                  {{ "required" | translate }}</small
                >
                <div class="form-group">
                  <mat-form-field class="ml-xs mr-xs" style="width: 100%">
                    <mat-select
                      placeholder=" {{ 'subCity' | translate }} "
                      formControlName="subCity"
                      (ngModelChange)="subCityChange()"
                    >
                      <mat-option
                        [value]="subCity"
                        *ngFor="let subCity of subCities"
                        >{{ subCity.caption }}</mat-option
                      >
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field
                    *ngIf="showOtherSubCity"
                    class="ml-xs mr-xs"
                    style="width: 100%; margin-top: 5px"
                  >
                    <input
                      matInput
                      type="text"
                      placeholder=" {{ 'subCity' | translate }} "
                      formControlName="subCityOther"
                      value=""
                    />
                  </mat-form-field>
                </div>
                <small
                  *ngIf="
                    upgradeWalletForm.controls['woreda'].hasError('required') &&
                    upgradeWalletForm.controls['woreda'].touched
                  "
                  class="mat-text-warn"
                >
                  {{ "required" | translate }}</small
                >
                <div class="form-group">
                  <mat-form-field class="ml-xs mr-xs" style="width: 100%">
                    <input
                      matInput
                      type="text"
                      placeholder=" {{ 'woreda' | translate }} "
                      formControlName="woreda"
                      value=""
                    />
                  </mat-form-field>
                </div>
                <small
                  *ngIf="
                    upgradeWalletForm.controls['houseNo'].hasError(
                      'required'
                    ) && upgradeWalletForm.controls['houseNo'].touched
                  "
                  class="mat-text-warn"
                >
                  {{ "required" | translate }}</small
                >
                <div class="form-group">
                  <mat-form-field class="ml-xs mr-xs" style="width: 100%">
                    <input
                      matInput
                      type="text"
                      placeholder=" {{ 'houseNo' | translate }} "
                      formControlName="houseNo"
                      value=""
                    />
                  </mat-form-field>
                </div>
              </div>
              <div class="submit-btn">
                <input
                  type="submit"
                  class="btnRegister"
                  value=" {{ 'next' | translate }} "
                  (click)="nextStep2()"
                />
              </div>
            </div>
          </div>
          <div
            class="tab-pane fade show"
            id="profile2"
            role="tabpanel"
            aria-labelledby="profile-tab"
            [dir]="layoutDir"
          >
            <div class="register-heading">
              <i
                [ngClass]="
                  layoutDir == 'ltr' ? 'fa fa-arrow-left' : 'fa fa-arrow-right'
                "
                (click)="backStep2()"
              ></i>
              <h3>{{ "account_info" | translate }}</h3>
            </div>
            <div class="row register-form">
              <div class="col-md-10">
                <small
                  *ngIf="
                    upgradeWalletForm.controls['t24AccountNum'].hasError(
                      'required'
                    ) && upgradeWalletForm.controls['t24AccountNum'].touched
                  "
                  class="mat-text-warn"
                >
                  {{ "required" | translate }}</small
                >
                <small
                  *ngIf="
                    upgradeWalletForm.controls['t24AccountNum'].hasError(
                      'pattern'
                    ) && upgradeWalletForm.controls['t24AccountNum'].touched
                  "
                  class="mat-text-warn"
                >
                  {{ "only_num" | translate }}</small
                >
                <small
                  *ngIf="
                    upgradeWalletForm.controls['t24AccountNum'].hasError(
                      'minlength'
                    ) && upgradeWalletForm.controls['t24AccountNum'].touched
                  "
                  class="mat-text-warn"
                >
                  {{ "t24_min" | translate }}</small
                >
                <small
                  *ngIf="
                    upgradeWalletForm.controls['t24AccountNum'].hasError(
                      'maxlength'
                    ) && upgradeWalletForm.controls['t24AccountNum'].touched
                  "
                  class="mat-text-warn"
                >
                  {{ "t24_max" | translate }}</small
                >
                <div *ngIf="wallet" class="form-group">
                  <mat-form-field class="ml-xs mr-xs" style="width: 100%">
                    <input
                      matInput
                      formControlName="t24AccountNum"
                      placeholder="{{ 't24AccountNum' | translate }}"
                      type="text"
                      name="userName"
                    />
                  </mat-form-field>
                </div>
                <small
                  *ngIf="
                    upgradeWalletForm.controls['attachmentOne'].hasError(
                      'required'
                    ) && upgradeWalletForm.controls['attachmentOne'].touched
                  "
                  class="mat-text-warn"
                >
                  {{ "required" | translate }}</small
                >
                <div class="form-group">
                  <input
                    id="file1"
                    #file1
                    type="file"
                    name="photo"
                    ng2FileSelect
                    [uploader]="uploader"
                    placeholder=" {{ 'attach' | translate }} 1"
                  />
                  <mat-form-field class="ml-xs mr-xs" style="width: 100%">
                    <input
                      id="fileAttach1"
                      matInput
                      type="text"
                      placeholder=" {{ 'attach' | translate }} 1"
                      [value]="fileName1"
                    />

                    <i
                      matSuffix
                      [ngStyle]="{
                        'pointer-events': !upgradeWalletForm.controls[
                          'attachmentOne'
                        ].value
                          ? 'none'
                          : 'unset',
                        color: !upgradeWalletForm.controls['attachmentOne']
                          .value
                          ? ' #72727385'
                          : '#727273'
                      }"
                      (click)="
                        onNavigate(
                          upgradeWalletForm.controls['attachmentOne'].value
                        )
                      "
                      class="material-icons"
                    >
                      open_in_browser
                    </i>

                    <i
                      matSuffix
                      class="fa fa-paperclip"
                      (click)="
                        file1.click();
                        onFileUpload('attachmentOne', 'fileName1')
                      "
                    ></i>
                  </mat-form-field>
                </div>
                <small
                  *ngIf="
                    upgradeWalletForm.controls['attachmentTwo'].hasError(
                      'required'
                    ) && upgradeWalletForm.controls['attachmentTwo'].touched
                  "
                  class="mat-text-warn"
                >
                  {{ "required" | translate }}</small
                >
                <div class="form-group">
                  <input
                    id="file2"
                    #file2
                    type="file"
                    name="photo"
                    ng2FileSelect
                    [uploader]="uploader"
                    placeholder=" {{ 'attach' | translate }} 2 "
                  />

                  <mat-form-field class="ml-xs mr-xs" style="width: 100%">
                    <input
                      id="fileAttach2"
                      matInput
                      type="text"
                      placeholder=" {{ 'attach' | translate }} 2"
                      [value]="fileName2"
                      download
                    />

                    <i
                      [ngStyle]="{
                        'pointer-events': !upgradeWalletForm.controls[
                          'attachmentTwo'
                        ].value
                          ? 'none'
                          : 'unset',
                        color: !upgradeWalletForm.controls['attachmentTwo']
                          .value
                          ? ' #72727385'
                          : '#727273'
                      }"
                      (click)="
                        onNavigate(
                          upgradeWalletForm.controls['attachmentTwo'].value
                        )
                      "
                      class="material-icons"
                      matSuffix
                    >
                      open_in_browser
                    </i>
                    <i
                      matSuffix
                      class="fa fa-paperclip"
                      (click)="
                        file2.click();
                        onFileUpload('attachmentTwo', 'fileName2')
                      "
                    ></i>
                  </mat-form-field>
                </div>
                <small
                  *ngIf="
                    upgradeWalletForm.controls['attachmentThree'].hasError(
                      'required'
                    ) && upgradeWalletForm.controls['attachmentThree'].touched
                  "
                  class="mat-text-warn"
                >
                  {{ "required" | translate }}</small
                >
                <div class="form-group">
                  <input
                    id="file3"
                    #file3
                    type="file"
                    name="photo"
                    ng2FileSelect
                    [uploader]="uploader"
                    placeholder=" {{ 'attach' | translate }} 3 "
                  />
                  <mat-form-field class="ml-xs mr-xs" style="width: 100%">
                    <input
                      id="fileAttach3"
                      matInput
                      type="text"
                      placeholder=" {{ 'attach' | translate }} 3"
                      [value]="fileName3"
                    />
                    <i
                      [ngStyle]="{
                        'pointer-events': !upgradeWalletForm.controls[
                          'attachmentThree'
                        ].value
                          ? 'none'
                          : 'unset',
                        color: !upgradeWalletForm.controls['attachmentThree']
                          .value
                          ? ' #72727385'
                          : '#727273'
                      }"
                      (click)="
                        onNavigate(
                          upgradeWalletForm.controls['attachmentThree'].value
                        )
                      "
                      class="material-icons"
                      matSuffix
                    >
                      open_in_browser
                    </i>
                    <i
                      matSuffix
                      class="fa fa-paperclip"
                      (click)="
                        file3.click();
                        onFileUpload('attachmentThree', 'fileName3')
                      "
                    ></i>
                  </mat-form-field>
                </div>
              </div>

              <div *ngIf="wallet" class="submit-btn">
                <input
                  (click)="upgrade()"
                  type="submit"
                  class="btnRegister"
                  value=" {{ 'upgrade' | translate }} {{
                    'from' | translate
                  }} {{ 'level' | translate }} {{ wallet.walletLevel }} {{
                    'to' | translate
                  }} {{ wallet.nextWalletLevel }}"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="alert alert-danger" *ngIf="showErrorMsg">
      <strong>{{ "Please Note!" | translate }}</strong>
      {{ errorMsg }}
    </div>
  </div>
</form>
